@import "mixins";
/*
+----------------------------------------------------------------+
	PROJECT
+----------------------------------------------------------------+
*/
::selection { background:$azul; color:$branco; } /* WebKit, Opera, & IE9 */
::-moz-selection { background:$azul; color:$branco; } /* Firefox */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* WebKit browsers */ color:$cinzaAAA; }
input::-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color:$cinzaAAA; }
input::-moz-placeholder { /* Mozilla Firefox 19+ */ color:$cinzaAAA; }
input:-ms-input-placeholder { /* Internet Explorer 10+ */ color:$cinzaAAA; }
/*
+----------------------------------------------------------------+
	BODY
+----------------------------------------------------------------+
*/
.top{ height:35px; line-height:35px; text-align:right; font-size:12px; font-weight:bold; color:$branco; background-color:$azul;
  h3{ color:$branco; font-size: 12px; display: inline-block; margin-right: 30px; }
  p{ font-size: 12px; display: inline-block; color: $branco;
    a{ font-size: 12px; color: $branco;
      &:hover{ text-decoration: underline; }
    }
  }
}
#header{ min-height:450px; margin-bottom:10px; background:url(../images/bg-header.jpg) repeat-x;
	div.box-logo{ text-align:center; padding-top:15px;
		h1.logo{ height:135px; background:url(../images/logo-seubairrotem.png) no-repeat center; text-indent:-9999px; cursor:pointer; }
	}
	div.large-9.medium-9.small-12{ text-align:center; padding-top:10px;
		.publicidade{
			span{ display:block; text-transform:lowercase; font-size:10px; color:$amarelo; }
			.banner{ display:block; max-width:650px; }
		}
		nav.top-bar{ width:100%; background:transparent; position:relative; float:right; clear:both; margin-top:20px;
			.top-bar-section{
				ul{ background:transparent;
					li{ background:transparent;
						a{ width:auto; color:$azul-escuro; font-size:14px; font-weight:600; padding:0; margin:0 10px; background:transparent;
							&:hover{ color:$vermelho; }
						}
						&.active a{ color:$vermelho; &:hover{ @include opacity(0.9); } 
							&:before{ content:url('../images/icon-seta-menu.png'); width:4px; height:6px; margin:0 5px 0 0; }
						}
						&:first-child a{ margin-left:0; }
						&:last-child a{ margin-right:0; }
					}
				}
			}
		}
	}
	.encontre-sua-empresa{ margin-top:46px; font-size:28px; font-weight:bold; color:$azul-escuro; text-transform:uppercase; }
	.redes-sociais{ height:23px; margin-top:49px;
		p{ width:auto; display:inline-table; font-size:14px; font-weight:bold; color:$azul-escuro; margin:-5px 0 0 0; padding:0; }
		ul{ display:inline-table; list-style:none; margin:0 0 0 10px;
			li{ width:23px; height:23px; margin-left:10px; float:left;
				a{ width:23px; height:23px; display:block; background:url(../images/icons-redessociais.png) no-repeat;
					&.f{ background-position:0 0; }
					&.t{ background-position:-23px 0; }
					&.i{ background-position:-46px 0; }
					&.y{ background-position:-69px 0; }
					&:hover{ cursor:pointer; background-position-y:-23px; }
				}
				&:first-child{ margin-left:0; }
			}
		}
	}
	.busca-duvidas-intranet{ margin-top:11px; padding:19px 0 0; border:3px solid $branco;
		form#formbusca{ margin:0; padding:0;
			p{ margin-bottom:0;
				label{ font-size:12px; color:$branco; margin-bottom:5px; }
				input[type=text], select{ height:30px; font-size:12px; border:0; margin-bottom:20px; color:$azul; background-color:$branco; box-shadow:none; }
				/* PLACEHOLDER */
				input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* WebKit browsers */ color:$placeholder; }
				input::-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color:$placeholder; }
				input::-moz-placeholder { /* Mozilla Firefox 19+ */ color:$placeholder; }
				input:-ms-input-placeholder { /* Internet Explorer 10+ */ color:$placeholder; }
				button[type=submit]{ width:100px; height:30px; font-size:14px; font-weight:600; text-transform:uppercase; padding:0 20px 0 15px; margin-top:84px; background:url(../images/bg-botao-buscar.png) no-repeat right; border:0;
					&:hover{ @include opacity(0.9); }
				}
			}
		}
		section.duvidas-intranet{ margin-bottom:0; line-height:16px;
			p{ height:35px; font-size:28px; font-weight:bold; color:$azul-escuro; text-transform:uppercase; margin-bottom:10px; }
			a{ display:block; font-size:12px; font-weight:600; color:$branco;
				&:hover{ text-decoration:underline; }
			}
		}
	}
}
/* CATEGORIAS HOME */
.categorias-home-azul{ width:50%; min-height:250px; position:absolute; background-color:$azul; }
.categorias-home{
	ul{ min-height:250px; list-style:none; margin:0; background-color:$azul;
		li{ width:28%; display:inline-block; margin-right:3%;
			a{ font-size:12px; font-weight:600; color:$branco; display:block; padding:12px 0 3px;
				&:hover{ text-decoration:underline; }
			}
			&:last-child{ margin-right:0; }
		}
	}
	.bt-mais{ width:27px; height:23px; position:absolute; text-indent:-9999px; margin-top:-30px; right:17px; background:url(../images/bt-mais.png) no-repeat 0 0;
		&:hover{ @include opacity(0.9); }
	}
}
/* ANUNCIOS HOME */
.anuncios-home{ margin-top:20px;
	article{ margin-bottom:30px;
		a{ width:100%; float:left; clear:both; height:176px; display:block; padding:10px; background-color:$branco;
			img{ border:5px solid $cinzaDDD; float:left; margin-right:5px; }
			strong{ font-size:20px; color:$preto333; }
			span{ font-size:12px; font-style:600; color:$cinza; }
			i{ width:27px; height:23px; position:absolute; bottom:20px; right:25px; background:url(../images/bt-mais.png) no-repeat 0 -46px; }
			&:hover{
				img{ border-color:$azul; }
				strong{ color:$azul; }
				i{ background-position:0 -23px;}
			}
		}
	}
}
/* ULTIMOS ANUNCIOS */
.ultimos-anuncios{
	h3{ font-size:28px; font-weight:600; color:$laranja; text-transform:uppercase; }
	div.slider1{ display:block; padding: 10px 12px;
		div.slide{ min-height:200px; display: inline-block; margin:5px 0 0 0;
			a{
				img{ border:3px solid $cinzaDDD; }
				strong{ float:left; clear:both; font-size:18px; font-weight:bold; color:$preto333; line-height:20px; margin-bottom:15px; }
				span{ float:left; clear:both; font-size:10px; font-style:600; color:$cinza; line-height:14px; }
				&:hover{
					strong{ color:$laranja; }
					span{ color:$preto777; }
					img{ border-color:$laranja; }
				}
			}
		}
	}
	a{
		&.bx-prev { width:18px; height:18px; position:absolute; left:21px; top:109px; text-indent:-9999px; background:url(../images/setas-ultimos-anuncios.png) no-repeat 0 0; @include opacity(0.8); }
		&.bx-next { width:18px; height:18px; position:absolute; right:21px; top:109px; text-indent:-9999px; background:url(../images/setas-ultimos-anuncios.png) no-repeat -18px 0; @include opacity(0.8); }
		&.bx-prev:hover, &.bx-next:hover{ @include opacity(1); }
	}
}
.bx-wrapper { margin: 0 40px !important; }

/* CLASSIFICADOS */
.classificados{ margin-top:20px;
	header{ margin-bottom:15px;
		h3{ font-size:28px; font-weight:600; color:$amarelo; text-transform:uppercase; }
	}
	article{ min-height:280px;
		a{
			img{ border:5px solid $cinzaDDD; }
			strong{ float:left; clear:both; font-size:18px; font-weight:bold; color:$preto333; line-height:20px; margin-bottom:15px; }
			span{ float:left; clear:both; font-size:12px; font-style:600; color:$cinza; line-height:14px; }
			&:hover{
				strong{ color:$amarelo; }
				span{ color:$preto777; }
				img{ border-color:$amarelo; }
			}
		}
	}
}

/* CATEGORIAS TITULO */
.categorias-titulo-azul{ width:30%; height:45px; position:absolute; background-color:$azul; }
.categorias-titulo{ height:45px; background-color:$azul;
  h2{ height:45px; font-size:20px; font-weight:600; color:$branco; padding:13px 0 0 10px; text-transform: uppercase; background: url(../images/seta-macho-azul.png) no-repeat right; }
}

/* CATEGORIA TITULO */
.categoria-titulo-azul{ width:38%; min-height:60px; position:absolute; background-color:$azul; }
.categoria-titulo{ min-height:60px; background-color:$azul;
	h2{ font-size:30px; font-weight:600; color:$branco; padding:15px 0 0 0; }
	/* ORDENAR POR */
	.ordenar_por{ height:27px; position:absolute; right:25px; bottom:0; font-size:12px; font-weight:normal; padding:3px 10px; color:$preto777; background-color:$branco; -webkit-border-top-left-radius:5px; -webkit-border-top-right-radius:5px; -moz-border-radius-topleft:5px; -moz-border-radius-topright:5px; border-top-left-radius:5px; border-top-right-radius:5px;
		a{ color:$preto777; font-weight:600;
			&:hover{ color:$azul; }
		}
	}
}

.top-bar-section{
  ul{ background-color:$azul; }
}

.left-off-canvas-toggle { width: 40px; height: 40px; display: block; background-color:$azul; color:$branco; text-indent: -9999px; }
.off-canvas-wrap, .right-small, nav.tab-bar, .tab-bar-section { background-color: transparent !important; }

/* ANUNCIOS CATEGORIA */
.anuncios-categoria{ 
	article{ 
		a{ width:100%; float:left; clear:both; height:250px; display:block; padding:10px; background-color:$branco;
			img{ width:100%; border:5px solid $cinzaDDD; float:left; clear:both; }
			strong{ font-size:18px; color:$preto333; display:block; line-height:22px; margin-bottom:5px; }
			span{ display:block; font-size:10px; font-style:600; color:$cinza; line-height:14px; }
			&:hover{
				img{ border-color:$azul; }
				strong{ color:$azul; }
			}
		}
	}
}
.img-dif{ article{ a{ img{ max-widht:274px; max-height:140px; } } } }

/* NEWSLETTER */
.newsletter{ float: left; clear: both; margin:30px 0 0 0;
	header{ height: 45px; background: url(../images/seta-femea-azul.png) no-repeat left $azul;
        h3{ height: 45px; line-height: 45px; padding-left: 20px; font-size:20px; font-weight:600; color:$branco; text-transform:uppercase; }
	}
	form{ float: left; clear: both; background-color: $branco; padding: 10px 10px 20px 10px;
        p{ width:100%; clear:both; font-size:12px; color:$preto666; line-height:14px; margin-bottom:12px;

        	input{ width:100%; height:31px; float:left; clear:both; color:$preto777; font-size:12px; background-color:$branco; border:1px solid $azul; @include border-radius(5px);
				&:focus{ box-shadow:none; border-color:$azul; }
			}
			button{ width:50px; height:33px; float: right; padding:0; margin:0; border:0; font-size:16px; font-weight:600; font-family:"Open Sans"; text-align:center; background:url(../images/bg-bt-blue.png) repeat-x $azul; color:$branco; text-transform:uppercase; @include border-radius(5px);
				&:hover{ cursor:pointer; @include opacity(0.9); }
			}
		}
	}
}
.newsletter-home{ margin:25px 0 20px 0;
  header{ margin-bottom:15px;
    h3{ font-size:28px; font-weight:600; color:$azul; text-transform:uppercase; }
  }
  p{ width:100%; clear:both; font-size:12px; color:$cinza; line-height:16px; margin-bottom:12px; }
  form{ margin:0; padding:0;
    label{ width:100%; float:left; clear:both;
      input{ width:100%; height:33px; float:left; clear:both; color:$azul; font-size:12px; background-color:$branco; border:1px solid $azul; @include border-radius(5px);
        &:focus{ box-shadow:none; border-color:$azul; }
      }
      button{ width:50px; height:33px; padding:0; margin:0; border:0; font-size:16px; font-weight:600; font-family:"Open Sans"; text-align:center; background:url(../images/bg-bt-blue.png) repeat-x $azul; color:$branco; text-transform:uppercase; @include border-radius(5px);
        &:hover{ cursor:pointer; @include opacity(0.9); }
      }
    }
  }
}

/* PREVISAO DO TEMPO */
.previsao-do-tempo{ float: left; clear: both; margin:30px 0 0 0;
  header{ height: 45px; background: url(../images/seta-femea-tempo.png) no-repeat left #00C1FF;
    h3{ height: 45px; line-height: 45px; padding-left: 20px; font-size:20px; font-weight:600; color:$branco; text-transform:uppercase; }
  }
  div{ float: left; clear: both; background-color: $branco; padding: 10px 5px 5px 5px;
    iframe{ width:100%; float:left; clear:both; }
  }
}
.previsao-do-tempo-home{ margin:25px 0 20px 0;
  header{ margin-bottom:15px;
    h3{ font-size:28px; font-weight:600; color:$azul-claro; text-transform:uppercase; }
  }
  iframe{ width:100%; float:left; clear:both; }
}

/* FACEBOOK */
.facebook{ margin:25px 0 20px 0;
	header{ margin-bottom:15px;
		h3{ font-size:28px; font-weight:600; color:$azul-face; text-transform:uppercase; }
	}
	iframe{ width:100%; height:230px; background-color:$branco; }
}

/* CADASTRE-SE */
#form-cadastre-se, #form-add-anuncio, #form-destacar-anuncio, #form-contato, #form-login, #form-intranet{
    h3{ height:38px; float:left; clear:both; font-size:14px; font-weight:600; text-transform:uppercase; color:$branco; line-height:38px; padding:0 10px; margin:15px -10px; background:$azul; }
    p{ display:block; padding:5px 0; margin:0; color:$azul;
        label{ color: $azul;
            input.large-9{ width:65% !important; }
            input[type=radio], input[type=checkbox]{ margin-right:10px; }
            &.error{ padding:3px 0 0 10px !important; font-size:12px !important; color:$vermelho !important; background:none !important; }
        }
        select, input[type=text], input[type=email], input[type=password], textarea{ height:35px; font-size: 12px; margin-top:5px; color:$preto333; background-color: $branco; border:1px solid $azul; }
        textarea{ height:250px; }
        button{ background-color:$azul; color: $branco; font-size: 14px; text-transform: uppercase; padding:7px 13px;
            &:hover{ @include opacity(0.9); }
        }
        em{ line-height:11px;
            a{ color:$vermelho; &:hover{ @include opacity(0.80); } }
        }
        &.aviso{ line-height:normal !important; margin-bottom:30px; }
        a{ color:$preto666; &:hover{ color:$preto333; } }
    }
    div.antes-box-termos{ width:100%; float:left; clear:both; padding:5px 0; margin:0;
        div.box-termos{ width:100%; height:250px; float:left; clear:both; background:$branco; margin:0 0 15px 0; padding:5px; border:1px solid $azul; font-size:12px; line-height: 14px; color:$azul; overflow:auto;
            p{ font-size:12px; line-height: 14px; }
        }
    }
}

/* TEXTO */
.texto{ margin:10px 0; }

.accordion{
  .accordion-navigation{
    a{ margin-bottom: 5px;
      &.active{ background-color: $azul-escuro; color:$branco; }
    }
    .content{ padding: 5px 5px 20px 5px; }
  }
}

/* MENU FOOTER */
.menu-footer{ width:100%; height:50px; line-height:50px; text-align:center; margin-top:30px; background-color:$azul-escuro;
	a{ width:auto; color:$amarelo; font-size:14px; font-weight:600; padding:0; margin:0 25px;
		&:hover{ color:$branco; }
		&.active{ color:$branco; &:hover{ color:$cinzaEEE; } }
	}
	.menu-small{
		#select-menu-footer{ width:80%; height:30px; padding:5px; margin-top:8px; color:$azul; }
	}
}
/* FOOTER */
#footer{ display:block; background-color:$azul; color:$branco; padding:30px 0; text-align:center;
	.banner-footer{ text-align:center; }
	.redes-sociais{ margin-top:35px;
		ul{ display:inline-table; list-style:none; margin:0 0 0 10px;
			li{ width:23px; height:23px; margin-left:20px; float:left;
				a{ width:23px; height:23px; display:block; background:url(../images/icons-redessociais.png) no-repeat 0 -46px;
					&.f{ background-position:0 -46px; }
					&.t{ background-position:-23px -46px; }
					&.i{ background-position:-46px -46px; }
					&.y{ background-position:-69px -46px; }
					&:hover{ cursor:pointer; @include opacity(0.9); }
				}
				&:first-child{ margin-left:0; }
			}
		}
	}
	.copy{ float:left; clear:both; margin-top:15px;
		span{ float:left; font-size:11px; font-weight:normal; color:$branco; }
		.logo-cci{ width:56px; height:19px; float:right; background:url(../images/logo-cafecomideias.png) no-repeat;
			&:hover{ @include opacity(0.9); }
		}
	}
}
/* PAGINACAO */
.paginacao{ width:100%; float:left; clear:both; padding:50px 0;
	a{ width:22px; height:19px; color:$branco; color:$azul-paginacao; font-size:12px; padding:1px 8px;
    	&:hover, &.atual{ color:$branco; background-color:$azul-paginacao; text-decoration: none; }
	}
	a.bts{ width:25px; height:19px; padding:1px 10px 1px 9px; color:$cinzaAAA; text-align:center; background:url(../images/bt-paginacao.png) no-repeat 0 -19px;
		&:hover{ background-color:transparent; color:$branco; background:url(../images/bt-paginacao.png) no-repeat; }
		&:first-child{ background-position:0 -19px;
			&:hover{ background-position:0 0; }
		}
		&:last-child{ background-position:-25px -19px;
			&:hover{ background-position:-25px 0; }
		}
	}
	
}
/* COMPARTILHAR */
.compartilhar{ width:100%; padding:80px 0 20px; float:left; clear:both;
	a{ width:auto; float:right; margin:0 5px 0 0;
		&.botao{ width:auto; padding:5px 6px 6px 6px; margin:0 5px 0 0; float:right; font-size:12px !important; border:0; text-transform:lowercase; background:$preto; color:$branco !important;
			&:hover{ background:$vermelho; text-decoration:none; }
		}
		
	}
	.addthis_button_tweet{ width:100px !important; margin:0 !important; }
	.addthis_button_google_plusone{ width:73px !important; margin:0 !important; }
	.addthis_button_pinterest_pinit{ width:55px !important; margin:0 !important; }
}
.titulo-azul{ height: 45px; line-height: 45px; padding-left: 20px; font-size:20px; font-weight:600; color:$branco; text-transform:uppercase; background: url(../images/seta-femea-azul.png) no-repeat left $azul; }
.subtitulo-azul{ font-size:22px; font-weight:600; text-transform:uppercase; color:$azul; margin-bottom:10px; }
.box-branco{ width:100%; float:left; clear: both; padding: 10px; background-color: $branco;
    p{ font-size: 12px; color:$preto666; line-height:18px; }
}

/* FONTS SIZE */
.font10 { font-size: 10px !important; }
.font12, .font12 p { font-size: 12px !important; }
.font14 { font-size: 14px !important; }
.font16 { font-size: 16px !important; }
.font18 { font-size: 18px !important; }
.font20 { font-size: 20px !important; }
.font22 { font-size: 22px !important; }
.font24 { font-size: 24px !important; }
.font26 { font-size: 26px !important; }
/* MARGINS */
.margin-bottom5 { margin-bottom: 5px !important; }
.margin-bottom10 { margin-bottom: 10px !important; }
.margin-bottom15 { margin-bottom: 15px !important; }
.margin-bottom20 { margin-bottom: 20px !important; }
.margin-bottom30 { margin-bottom: 30px !important; }
.margin-top5 { margin-top: 5px !important; }
.margin-top10 { margin-top: 10px !important; }
.margin-top15 { margin-top: 15px !important; }
.margin-top20 { margin-top: 20px !important; }
.margin-top30 { margin-top: 30px !important; }

.margintop10{ margin-top:10px; }
.margintop20{ margin-top:20px; }
.margintop30{ margin-top:30px; }
.marginbottom10{ margin-bottom:10px; }
.marginbottom20{ margin-bottom:20px; }
.marginbottom30{ margin-bottom:30px; }

/* PADDINGS */
.padding-left15{ padding-left: 15px !important; }

/* LARGURAS */
.l10{ width:10% !important; }
.l15{ width:15% !important; }
.l20{ width:20% !important; }
.l25{ width:25% !important; }
.l30{ width:30% !important; }
.l35{ width:35% !important; }
.l40{ width:40% !important; }
.l45{ width:45% !important; }
.l50{ width:50% !important; }
.l55{ width:55% !important; }
.l60{ width:60% !important; }
.l65{ width:65% !important; }
.l70{ width:70% !important; }
.l75{ width:75% !important; }
.l80{ width:80% !important; }
.l85{ width:85% !important; }
.l90{ width:90% !important; }
.l95{ width:95% !important; }
.l100{ width:100% !important; }
/* OTHERS */
.padding-box-interno { padding: 0 10px; }
.pc50 { width: 50%; }
.h265 { min-height: 290px !important; }
.h405 { min-height: 405px !important; }
.zerar { margin: 0; padding: 0; border: 0; }
.clear{ clear:both; }
