@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
/*
+----------------------------------------------------------------+
	CORES
+----------------------------------------------------------------+
*/
$azul:#003B8D;
$azul-escuro:#003074;
$azul-paginacao:#005799;
$laranja:#FF8000;
$laranja-hover-menu:#F63E00;
$amarelo:#FFC900;
$vermelho:#EB3900;
$azul-claro:#00C1FF;
$azul-face:#3A5AA5;
$preto:#000000;
$preto333:#333333;
$preto666:#666666;
$preto777:#777777;
$cinza:#999999;
$cinzaAAA:#AAAAAA;
$cinzaDDD:#DDDDDD;
$cinzaEEE:#EEEEEE;
$branco:#FFFFFF;
$placeholder:#006DB7;
/*
+----------------------------------------------------------------+
	MIXINS
+----------------------------------------------------------------+
*/
@mixin border-radius($tam){
	-moz-border-radius:$tam;
	-webkit-border-radius:$tam;
	border-radius:$tam;
	
}
@mixin box-shadow( $value ) {
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;
    box-shadow: $value;
}
@mixin text-shadow( $value ) {
    -webkit-text-shadow: $value;
    -moz-text-shadow: $value;
    text-shadow: $value;
}
@mixin opacity( $opacity ) {
    -moz-opacity: $opacity;
    -khtml-opacity: $opacity;
    -webkit-opacity: $opacity;
    opacity: $opacity;
}
@mixin transform( $value ){
    -webkit-transform: $value;
    -moz-transform: $value;
    transform: $value;
}
@mixin transition( $value ) {
    -webkit-transition: $value;
    -moz-transition: $value;
    transition: $value;
}