@import "mixins";
/* Mobile em Pé */
/* SMARTPHONE EM PÉ */
@media only screen and (max-width:399px){
    .top{ h3,span{ display:none; }	}
    /* CATEGORIAS HOME */
	.categorias-home{
		ul{
			li{ width:95% !important; display:none !important;
				&:first-child{ display:inline-block !important; }
			}
		}
	}
}
/* SMALL */
@media only screen and (max-width: 640px) {
	#header{ background-size:auto 100%;
		div.box-logo{
			h1.logo{ background-size:contain !important; }
		}
		div.large-9.medium-9.small-12{ padding-top:0 !important;
			nav.expanded{
				.title-area{ background-color:$azul-escuro !important; color:$branco; }
				section.top-bar-section{
					ul{ background:$azul !important; padding:0 10px;
						li{
							a{ color:$branco; margin:0 !important; line-height:30px !important; height:35px !important; margin-bottom:5px !important;
								&:hover{ color:$cinzaEEE; }
							}
							&.active a{ color:$cinzaEEE; &:hover{ @include opacity(0.9); } 
								&:before{ content:url('../images/icon-seta-menu-responsive.png'); width:4px; height:6px; margin:0 5px 0 0; }
							}
						}
					}
				}
				.toggle-topbar{
					a{ color:$branco; }
				}
			}
			nav.top-bar{ width:100%; position:relative !important; float:right; margin:10px 0 0 0 !important; }
		}
		.encontre-sua-empresa{ margin-top:26px; font-size:20px; }
		.busca-duvidas-intranet{ margin-bottom:15px;
			form#formbusca{
				p{ 
					button[type=submit]{ margin-top:0; float:right; }
				}
			}
		}		
	}
	
	/* CATEGORIAS HOME */
	.categorias-home{ margin-bottom:20px;
		ul{ min-height:250px; list-style:none; margin:0; padding:5px 10px; background-color:$azul;
			li{ width:45%; display:inline-block; margin-right:3%;
				a{ font-size:12px; font-weight:600; color:$branco; display:block; padding:12px 0 3px;
					&:hover{ text-decoration:underline; }
				}
				&:last-child{ margin-right:0; display:none; }
			}
		}
		.bt-mais{ width:27px; height:23px; position:absolute; text-indent:-9999px; margin-top:-30px; right:17px; background:url(../images/bt-mais.png) no-repeat 0 0;
			&:hover{ @include opacity(0.9); }
		}
	}
	
	/* ANUNCIOS HOME */
	.anuncios-home{
		article{
			a{ height:auto;
				img{ width:40%; float:left; border-width:3px; }
				strong{ width:58%; float:left; margin-bottom:10px !important; }
				span{ width:58%; float:left; font-size:10px; line-height:12px; }
				i{ bottom:10px; right:20px; }
			}
		}
	}

	.categoria-titulo{ width:100%; min-height:auto !important; height:auto !important; float:left; clear:both;
		h2{ float:left; clear:both; padding-left:10px; }
		.ordenar_por{ position:relative; float:right; clear:both; margin-right:10px; right:0; margin-top:20px; }
	}
	/* ANUNCIOS CATEGORIA */
	.anuncios-categoria{
		article{
			a{ height:auto !important; min-height:180px; max-height:220px;
				img{ width:100%; float:left; border-width:3px; }
				strong{ font-size:14px; line-height:16px; }
			}
		}
	}
	
	.compartilhar{ padding-bottom:40px !important;
		a{ float:left !important; margin:0 !important; padding:0 !important;
			&.botao{ float:right !important; margin-left:5px !important; padding:3px 5px 5px 5px !important; }
		}
	}
	
	/* FOOTER */
	#footer{ text-align:center !important;
		.copy{
			span{ width:100%; float:left; clear:both; text-align:center !important; font-size:10px; line-height:14px; }
			.logo-cci{ display:block; float:none !important; text-align:left; /* "remédio" para o hack do IE */  margin:40px auto 0 auto !important; }
		}
	}

    .left-off-canvas-menu {
        width:250px !important;
        -webkit-transform: translate3d(-100%, 0, 0);
        -moz-transform: translate3d(-100%, 0, 0);
        -ms-transform: translate3d(-100%, 0, 0);
        -o-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        margin:0 !important;
        left:0 !important;
        position:absolute !important;
    }
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* MEDIUM */
@media only screen and (min-width: 641px) and (max-width: 1023px) {
	#header{
		div.box-logo{
			h1.logo{ background-size:contain !important; }
		}
		div.large-9.medium-9.small-12{ padding-top:0 !important;
			nav.top-bar{ margin-top:0px !important;
				.top-bar-section{
					ul{
						li{
							a{ font-size:12px !important; margin:0 5px !important; }
						}
					}
				}
			}
		}
		.encontre-sua-empresa{ margin-top:50px; }
		.redes-sociais{ margin-top:50px; }
	}
	/* CATEGORIAS HOME */
	.categorias-home-azul{ width:50%; min-height:250px; position:absolute; background-color:$azul; margin-bottom:20px; }
	.categorias-home{ width:100%; margin-bottom:20px; }
	
	/* ANUNCIOS HOME */
	.anuncios-home{
		article{
			a{ height:auto;
				img{ width:50%; float:left; }
				strong{ width:48%; float:left; margin-bottom:10px !important; }
				span{ width:48%; float:left; line-height:16px; }
			}
		}
	}

	/* ANUNCIOS CATEGORIA */
	.anuncios-categoria{
		article{
			a{ height:220px;
				img{ width:100%; float:left; }
			}
		}
	}

	/* NEWSLETTER */
	.newsletter{ margin:20px 0 !important; }
	/* MENU FOOTER */
	.menu-footer{
		a{ margin:0 10px !important; }
	}

    .left-off-canvas-menu {
        width:250px !important;
        -webkit-transform: translate3d(-100%, 0, 0);
        -moz-transform: translate3d(-100%, 0, 0);
        -ms-transform: translate3d(-100%, 0, 0);
        -o-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        margin:0 !important;
        left:0 !important;
        position:absolute !important;
    }

} /* min-width 641px, medium screens */

/* LARGE */
@media only screen and (min-width: 1024px){
  .left-off-canvas-menu{ width: 220px; position:relative !important; float:left !important; margin: 0 15px; }
} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */