@charset "utf-8";
/*  
Theme Name: PROArte
Theme URI: http://www_antigo.proarteimpressao.com.br
Description: Sistema On-Line para gerenciamento de clientes, ordens de serviço e financeiro.
Author: Bruno Martins | Agência Café com Ideias
Author URI: http://www_antigo.cafecomideias.com.br/
Version: 1.0
Tags: proarte, comunicacao visual, lonas, banners, adesivos, fachadas, luminosos, totens.
*/
/* ---------------------------
CUSTOM CLASSES
--------------------------- 
*/
.5pc{ width:5% !important; }
.10pc{ width:10% !important; }
.20pc{ width:20% !important; }
.30pc{ width:30% !important; }
.40pc{ width:40% !important; }
.50pc{ width:50% !important; }
.60pc{ width:60% !important; }
.70pc{ width:70% !important; }
.80pc{ width:80% !important; }
.90pc{ width:90% !important; }
.100pc{ width:100% !important; }

table.tabela{ padding:0; margin:0; width:100%; }
table.tabela thead{ background:#000; }
table.tabela thead th{ margin:0; padding:10px 5px; color:#FFFFFF; font-size:12px; color:#FFF; }
table.tabela thead th[align=center]{ text-align:center; }
table.tabela thead th.total{ background:#999; }
table.tabela thead th.total th{ padding-top:20px; padding-bottom:20px; font-size:14px; }
table.tabela tbody tr{ background-color:#FFF; }
table.tabela tbody tr.even{ background-color: #F8F8F8; }
table.tabela tbody tr td{ margin:0; padding:5px; font-size:12px; vertical-align: middle;}
table.tabela tbody tr td select{ margin:10px 0; }
table.tabela tr{ padding:0; margin:0; border:0; vertical-align: middle; }

/* ---------------------------
body
--------------------------- 

@media (max-width: 780px){
	.container{ padding:0 10px }
}*/
/* ---------------------------
HEADER
--------------------------- 
*/
body.index header.container-index{ width:100%; height:8px; background:#DF0209; position:fixed; top:0; }
	body.index .logo{ width:262px; position:relative; left:50%; margin-left:-131px; }
header{ width:100%; float:left; clear:both; background:#F0F0F0; border-top:5px solid #DF0209; margin-bottom:10px; }
	header h1{ width:262px; height:105px; float:left; text-indent:-9999px; background:url(../img/logo-proarte.png) no-repeat; margin:10px 0; padding:0; }
	header p{ width:auto; float:right; clear:both; font-size:90%; margin-top:40px; }
	header a.logout{ width:16px; height:16px; position:absolute; right:10px; top:10px; text-indent:-9999px; background:url(../img/bt_sair.gif) no-repeat; z-index:9999; }
	header div.zera{ padding:0 !important; margin:0 !important; }
	
	header nav{ height:35px; float:right; clear:both; margin:0 0 0 0; }
		header nav select { visibility:hidden; margin-top:-34px; }
		header nav ul{ float:right; height:35px; margin:5px 0 0 0; }
			header nav ul li{ display:inline-block; margin:0; }
				header nav ul li a{ float:left; clear:both; text-transform:uppercase; color:#FFF; margin:0; padding:5px 6px; background:#000; font-size:100%; }
				header nav ul li a:hover{ background:#DF0209; color:#FFF; text-decoration:none; }
		@media (max-width: 980px){
			header h1{ width:100%; height:80px; float:left; text-indent:-9999px; background:url(../img/logo-proarte-tablet.png) no-repeat; margin:10px 0; padding:0; }
			header p{ margin-top:20px; }
			header nav ul{ margin:0; }
			header nav ul li a{ padding:5px 4px; font-size:80%; }
		}
		@media (max-width: 778px){
			header h1{ width:100%; height:80px; float:left; text-indent:-9999px; text-align:center; background:url(../img/logo-proarte-tablet.png) no-repeat center center; margin:10px 0; padding:0; }
			header p{ width:100%; margin-top:10px; text-align:center; }
			header nav { margin:6px 0 10px 0; }
				header nav select { visibility:visible; width:100%; max-width:100%; height:34px; float:left; clear:both; color:#333; border:0; margin:0 0 10px 0; overflow:hidden; background:url(../img/down_arrow_select.jpg) no-repeat right #ddd; border:1px solid #ccc; }
				header nav ul{ visibility:hidden; }
		}
		
/* ---------------------------
CONTENT
--------------------------- 
*/
body.index section.content{ padding-top:44px; }
	body.index section.content label{ width:50%; margin:0 0 5px 25%; }
	body.index section.content input[type=text], body.index section.content input[type=password]{ width:50%; margin:0 0 15px 25%; }
	body.index section.content input[type=submit]{ width:auto; padding:7px 10px; border:0; background:#000; color:#FFF; float:right; font-size:100%; margin-right:25%; border-radius:10px; }
	body.index section.content input[type=submit]:hover{ background:#333; cursor:pointer; }

section.content{ padding-bottom:44px; }
	section.content fieldset{ width:100%; border:3px solid #000; }
		section.content fieldset legend{ font-size:150%; }
		/* Mensagem */
		section.content fieldset div.msg_resultado{ width:100%; float:left; clear:both; margin:0 0 20px 0; text-align:center; color:#F00; }
		/* MENU */
		section.content fieldset ul.menu-interno{ width:100%; float:left; clear:both; margin:0 0 20px 0; list-style-type:none; }
			section.content fieldset ul.menu-interno li{ width:auto; float:right; margin:0 0 0 50px; }
				section.content fieldset ul.menu-interno li a{ font-size:80%; float:left; clear:both; padding-left:20px; color:#000; }
				section.content fieldset ul.menu-interno li a.add{ background:url(../img/bt_add.gif) no-repeat 0 2px; }
				section.content fieldset ul.menu-interno li a.back{ background:url(../img/bt_voltar.gif) no-repeat 0 2px; }
				section.content fieldset ul.menu-interno li a:hover{ color:#666; }
		/* TABELA */
		section.content fieldset table{ clear:both; display:table; border:0; background:#FFF; }
			section.content fieldset table tr.busca{ background:#000; }
				section.content fieldset table tr.busca td{ color:#FFF; }
					section.content fieldset table tr.busca td form span{ float:left; margin-right:5px; padding-top:5px; }
					section.content fieldset table tr.busca td form input[type=text]{ width:30%; float:left; }
					section.content fieldset table tr.busca td form input[type=submit]{ height:28px; float:left; padding:0 10px; border:0; background:#FFF; color:#000; font-weight:bold; }
						section.content fieldset table tr.busca td form input[type=submit]:hover{ color:#666; cursor:pointer; }
				
			section.content fieldset table tr.black{ height:35px; background:#000; }
			section.content fieldset table tr.vazio{ background:#FFF !important; }
				section.content fieldset table tr.black td{ color:#FFF; }
				
			section.content fieldset table tr.al_30{ height:30px; }
			section.content fieldset table tr.al_30:hover td{ background:#E5F2F7; }
			section.content fieldset table tr td a.editar{ width:16px; height:16px; float:left; background:url(../img/bt_editar.gif) no-repeat 0 0; text-indent:-9999px; }
			section.content fieldset table tr td a.excluir{ width:16px; height:16px; float:left; background:url(../img/bt_excluir.gif) no-repeat 0 0; text-indent:-9999px; }
			
			section.content fieldset form[name=form1] table td{ background:#FFF; }
			section.content fieldset form[name=form1] table input[type=submit]{ background:#222; color:#FFF; padding:8px; border:1px solid #000; font-size:110%; float:left; }
			section.content fieldset form[name=form1] table input[type=submit]:hover{ background:#444; cursor:pointer; }
			section.content fieldset form[name=form1] table input[type=button][name=back]{ background:#CCC; color:#555; padding:8px; border:1px solid #C0C0C0; font-size:110%; float:right; }
			section.content fieldset form[name=form1] table input[type=button][name=back]:hover{ background:#C6C6C6; cursor:pointer; }
			/* LABEL ERROR */
			section.content fieldset form[name=form1] table label[for=cidade] { position:absolute; margin:38px 0 0 0; }
			section.content fieldset form[name=form1] table label[for=estado] { position:absolute; margin:38px 0 0 0; right:17%; }
	
@media (max-width: 650px){
	body.index section.content{ padding-top:21px; }
		/*
		body.index section.content label{ width:70%; margin:0 0 5px 15%; }
		
		
		body.index section.content input[type=text], body.index section.content input[type=password]{ width:70%; margin:0 0 10px 15%; }
		body.index section.content input[type=submit]{ width:auto; padding:7px 10px; border:0; background:#000; color:#FFF; float:right; font-size:100%; margin-right:15%; border-radius:10px; }
	section.content{ padding-bottom:0; }
	*/
	
			section.content fieldset ul li{ width:auto; float:right; margin:0 0 0 20px; }
				section.content fieldset ul li a{ width:16px; height:16px; font-size:80%; float:left; clear:both; padding-left:20px; color:#000; text-indent:-9999px; }
				section.content fieldset ul li a.add{ background:url(../img/bt_add.gif) no-repeat 0 0; }
				section.content fieldset ul li a.back{ background:url(../img/bt_voltar.gif) no-repeat 0 0; }
			
			section.content fieldset table{ font-size:80%; }
			section.content fieldset form table{ font-size:100%; }
}
/* ---------------------------
FOOTER
--------------------------- 
*/
footer{ width:100%; float:left; clear:both; padding:8px 0; border-top:10px solid #FFF; background:#000; color:#FFF; position:fixed; bottom:0; }
	footer span{ font-size:80%; padding:4px 0 0 0; float:left; }
	footer a.logo-cci{ width:100%; text-indent:-9999px !important; font-size:0px !important; overflow:hidden; display:inline-block; text-align:right; background:url(../img/logo-cafe-com-ideias.png) no-repeat right; }
	@media (max-width: 650px){
		footer{ position:relative; }
			footer span{ padding:0; }
			footer a.logo-cci{ display:inline-block; width:52px; height:18px; text-align:center; }
	}