@import "mixins.scss";

/* .chzn-container */
.chzn-container{
	font-size: 13px;
	position: relative;
	display: inline-block;
	zoom: 1;
	*display: inline;
	.chzn-drop {
		background:#F8F8F8;
		border: 1px solid #333333;
		border-top: 0;
		position: absolute;
		top: 29px;
		left: 0;
		z-index: 1010;
		font-size:12px;
	}
}

/* @end */

/* @group Single Chosen */

.chzn-container-single {
  .chzn-single {
    background-color: #F8F8F8;
    border: 1px solid #333333;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
	color: rgba(0, 0, 0, 0.75);
	display: block;
	font-size: 0.875rem;
	padding:0.2rem  0.5rem;
	height: 2.3125rem;
	
    line-height: 30px;
    text-decoration: none;
  }
  .chzn-default {
    color: #999;
  }
  .chzn-single {
    span {
      margin-right: 26px;
      display: block;
      overflow: hidden;
      white-space: nowrap;
      -o-text-overflow: ellipsis;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
    }
	div{
		b{ margin-top:4px; }
	}
    abbr {
      display: block;
      position: absolute;
      right: 26px;
      top: 10px;
      width: 12px;
      height: 12px;
      font-size: 1px;
      background: url('../images/chosen-sprite.png') -42px 1px no-repeat;
      &:hover {
        background-position: -42px -10px;
      }
    }
  }
  &.chzn-disabled .chzn-single abbr:hover {
    background-position: -42px -10px;
  }
  .chzn-single div {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    height: 100%;
    width: 18px;
    b {
      background: url('../images/chosen-sprite.png') no-repeat 0px 5px;
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .chzn-search {
    padding: 3px 4px;
    position: relative;
    margin: 0;
    white-space: nowrap;
    z-index: 1010;
    input {
      background:url('../images/chosen-sprite.png') no-repeat 100% -27px;
      
      margin: 1px 0;
      padding: 4px 20px 4px 5px;
      outline: 0;
      border: 1px solid #aaa;
      font-family: sans-serif;
      font-size: 1em;
    }
  }
}

/* @end */

.chzn-container-single-nosearch .chzn-search input {
  position: absolute;
  left: -9000px;
}

/* @group Multi Chosen */

.chzn-container-multi .chzn-choices {
  background-color: #fff;
  border: 1px solid #aaa;
  margin: 0;
  padding: 0;
  cursor: text;
  overflow: hidden;
  height: auto !important;
  height: 1%;
  position: relative;
  li {
    float: left;
    list-style: none;
  }
  .search-field {
    white-space: nowrap;
    margin: 0;
    padding: 0;
    input {
      color: #666;
      background: transparent !important;
      border: 0 !important;
      font-family: sans-serif;
      font-size: 100%;
      height: 15px;
      padding: 5px;
      margin: 1px 0;
      outline: 0;
    }
    .default {
      color: #999;
    }
  }
  .search-choice {
    background-color: #e4e4e4;
    color: #333;
    border: 1px solid #aaaaaa;
    line-height: 13px;
    padding: 3px 20px 3px 5px;
    margin: 3px 0 3px 5px;
    position: relative;
    cursor: default;
    &.search-choice-disabled {
      background-color: #e4e4e4;
      color: #666;
      border: 1px solid #cccccc;
      padding-right: 5px;
    }
  }
  .search-choice-focus {
    background: #d4d4d4;
  }
  .search-choice .search-choice-close {
    display: block;
    position: absolute;
    right: 3px;
    top: 4px;
    width: 12px;
    height: 12px;
    font-size: 1px;
    background: url('../images/chosen-sprite.png') -42px 1px no-repeat;
    &:hover {
      background-position: -42px -10px;
    }
  }
  .search-choice-focus .search-choice-close {
    background-position: -42px -10px;
  }
}

/* @end */

/* @group Results */

.chzn-container .chzn-results {
  margin: 0 4px 4px 0;
  max-height: 240px;
  padding: 0 0 0 4px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.chzn-container-multi .chzn-results {
  margin: -1px 0 0;
  padding: 0;
}

.chzn-container .chzn-results {
  li {
	  font-size:12px;
    display: none;
    line-height: 15px;
    padding: 5px 6px;
    margin: 0;
    list-style: none;
  }
  .active-result {
    cursor: pointer;
    display: list-item;
  }
  .highlighted {
    background-color: #666666;
    color: #fff;
  }
  li em {
    background: #feffde;
    font-style: normal;
  }
  .highlighted em {
    background: transparent;
  }
  .no-results {
    background: #f4f4f4;
    display: list-item;
  }
  .group-result {
    cursor: default;
    color: #999;
    font-weight: bold;
  }
  .group-option {
    padding-left: 15px;
  }
}

.chzn-container-multi .chzn-drop .result-selected {
  display: none;
}

.chzn-container {
  .chzn-results-scroll {
    background: white;
    margin: 0 4px;
    position: absolute;
    text-align: center;
    width: 321px;
    /* This should by dynamic with js */
    z-index: 1;
    span {
      display: inline-block;
      height: 17px;
      text-indent: -5000px;
      width: 9px;
    }
  }
  .chzn-results-scroll-down {
    bottom: 0;
    span {
      background: url('../images/chosen-sprite.png') no-repeat -4px -3px;
    }
  }
  .chzn-results-scroll-up span {
    background: url('../images/chosen-sprite.png') no-repeat -22px -3px;
  }
}

/* @end */

/* @group Active  */

.chzn-container-active {
  .chzn-single {
    border: 1px solid #999999;
  }
  .chzn-single-with-drop {
    border: 1px solid #333333;
    background-color: #F8F8F8;
    div {
      background: transparent;
      border-left: none;
      b {
        background-position: -18px 5px;
      }
    }
  }
  .chzn-choices {
    border: 1px solid #5897fb;
    .search-field input {
      color: #111 !important;
    }
  }
}

/* @end */

/* @group Disabled Support */

.chzn-disabled {
  cursor: default;
  opacity: 0.5 !important;
  .chzn-single, .chzn-choices .search-choice .search-choice-close {
    cursor: default;
  }
}

/* @group Right to Left */

.chzn-rtl {
  text-align: right;
  .chzn-single {
    padding: 0 8px 0 0;
    overflow: visible;
    span {
      margin-left: 26px;
      margin-right: 0;
      direction: rtl;
    }
    div {
      left: 3px;
      right: auto;
    }
    abbr {
      left: 26px;
      right: auto;
    }
  }
  .chzn-choices {
    .search-field input {
      direction: rtl;
    }
    li {
      float: right;
    }
    .search-choice {
      padding: 3px 5px 3px 19px;
      margin: 3px 5px 3px 0;
      .search-choice-close {
        left: 4px;
        right: auto;
      }
    }
  }
  &.chzn-container-single .chzn-results {
    margin: 0 0 4px 4px;
    padding: 0 4px 0 0;
  }
  .chzn-results .group-option {
    padding-left: 0;
    padding-right: 15px;
  }
  &.chzn-container-active .chzn-single-with-drop div {
    border-right: none;
  }
  .chzn-search input {
    background:white url('../images/chosen-sprite.png') no-repeat -30px 20px;
    padding: 4px 5px 4px 20px;
    direction: rtl;
  }
}

.chzn-container-single.chzn-rtl {
  .chzn-single div b {
    background-position: 6px 2px;
  }
  .chzn-single-with-drop div b {
    background-position: -12px 2px;
  }
}

/* @end */

/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi) {
  .chzn-rtl .chzn-search input {
    background-image: url('../images/chosen-sprite@2x.png') !important;
    background-repeat: no-repeat !important;
    background-size: 52px 37px !important;
	background-position:right 10px !important;
  }
  .chzn-container-single {
    .chzn-single {
      abbr, div b {
        background-image: url('../images/chosen-sprite@2x.png') !important;
        background-repeat: no-repeat !important;
        background-size: 52px 37px !important;
      }
    }
    .chzn-search input {
      background-image: url('../images/chosen-sprite@2x.png') !important;
      background-repeat: no-repeat !important;
      background-size: 52px 37px !important;
    }
  }
  .chzn-container-multi .chzn-choices .search-choice .search-choice-close {
    background-image: url('../images/chosen-sprite@2x.png') !important;
    background-repeat: no-repeat !important;
    background-size: 52px 37px !important;
  }
  .chzn-container {
    .chzn-results-scroll-down span, .chzn-results-scroll-up span {
      background-image: url('../images/chosen-sprite@2x.png') !important;
      background-repeat: no-repeat !important;
      background-size: 52px 37px !important;
    }
  }
}

/* @end */