@import "mixins.scss";
/*
+----------------------------------------------------------------+
    PROJECT
+----------------------------------------------------------------+
*/
::selection, ::-moz-selection{ background:$verde-escuro; color:#FFF; }
html, body{ max-width: 100%; height: 100%; overflow-x: hidden; }

/* .publicidade-top */
.publicidade-top{ margin:10px 0 0 0; height: 90px; }

/* .logo */
#header{ margin-top:10px;
	h1.logo { margin: 0; padding: 0; text-indent: -9999px; min-height: 89px; background: url(../images/logo-ofertasagricolas.png) no-repeat 15px 0; }
	.search {
		form { padding: 0; margin: 0;
			label { height: auto; padding: 0 !important; margin-bottom: 5px !important; font-size: 14px; }
			input {
				&[type=text] { width: 90%; height: 38px; margin: 0; border: 1px solid #B6B8B5; float: left; }
				&[type=image] { width: 43px; height: 38px; margin: 0; text-align: center; border: 1px solid #004423; background: url(../images/bg-btn-search.png) repeat-x #004423; float: right;
					&:hover { opacity: 0.90; }
				}
			}
		}
    	.pagina-inicial { float: left; font-size: 12px; color: #000; line-height: 20px; margin-top: 10px;
			&:hover { color:$cinza; }
			span { width: 20px; height: 20px; float: left; clear: both; background: url(../images/icon-house.png) no-repeat center center #00783e; margin-right: 5px; }
		}
		.fb-like { height: 20px; float: right; margin-top: 10px; }
	}
}

/* div.top */
div.top{ width: 100%; height: 45px; background-color:$verde-escuro; margin: 10px 0 20px 0;
	.login { min-width: 2000px; height: 45px; padding: 5px 0 5px 50px; margin: -45px 0 0 667px; background: url(../images/bg-nav-colors.png) no-repeat left $vermelho; position: absolute; z-index: 2;
		h3{ color:#FFF; font-size:12px; margin:0; padding:0;
			strong{ font-size:14px; font-weight:bold; }
		}
		form { padding: 0; margin: 0;
			label.error{ position:absolute; font-size:10px; margin-top:-15px; }
			label[for=senha]{ margin-left:118px; }
			input { float: left; width: 113px; height: 22px; margin:0 5px 0 0; padding: 3px !important; border: 1px solid $black; font-size: 10px; color:$black-80pc; background: #FFFFFF;
				&[name=cpf]{ width:210px; }
				&[type=submit]{ width: 31px; height: 21px; margin-top: 1px; background: url(../images/bg-btn-login.png) repeat-x $black-40pc; border: 1px solid $cinza; color: #FFF; font-size: 12px; font-weight: 400; cursor: pointer; text-align: center;
					&:hover { border-color:$cinza; color: #EEEEEE; }
				}
			}
		}
		p { width: 100%; float: left; clear: both; font-size: 10px; color: #FFF; margin: 0; padding: 0;
			a { color: #FFF;
				&:hover { text-decoration: underline; }
			}
		}
	}
}

/* nav.classificados */
nav {
	&.classificados, &.servicos { margin: 0 0 30px 0; background-color: #FFFFFF; }
	&.classificados h2, &.servicos h2 { height: 45px; padding: 10px 0 0 10px; margin: 0; background-color:$verde-escuro; color: #FFF; font-size: 18px; font-weight: 600; }
	&.classificados ul, &.servicos ul { margin: 10px 0 0 0; padding: 0 0 10px 0; list-style-type: none; line-height: 26px; }
	&.classificados ul li, &.servicos ul li { margin: 0; padding: 0; }
	&.classificados ul li a, &.servicos ul li a { display: block; padding: 2px 6px; font-size: 13px; color:$verde-escuro; }
	&.classificados ul li a:hover, &.servicos ul li a:hover { color: #FFF; background:$verde-escuro; }
}

.left-off-canvas-toggle { width: 40px; height: 40px; display: block; background-color:$verde-escuro; color: #FFFFFF; text-indent: -9999px; }
.off-canvas-wrap, .right-small, nav.tab-bar, .tab-bar-section { background-color: transparent !important; }

/* BANNER 1:1 */
.banner1-1 { display: block; background: #FFFFFF; padding: 10px; margin: 0 0 30px 0; }
.bannertop1{ max-width:720px; max-height:90px; }
.bannertop2{ max-width:220px; max-height:90px; }
.bannersidebar1{ max-width:200px; max-height:200px; }
.bannersidebar2{ max-width:220px; max-height:90px; }
.bannerinterno{ float: left; clear: both; max-width:220px; max-height:90px; }
.bannerquadrado{ max-width:300px; max-height:250px; }
.banner720-90{ float: left; clear: both; max-width: 720px; max-height: 90px; }

/* FACEBOOK */
.facebook { background-color: #FFFFFF; padding-bottom: 10px;
	header{
		h2 { height: 45px; padding: 10px 0 0 10px; margin: 0; background-color:$azul-facebook; color: #FFF; font-size: 18px; font-weight: 600; }
	}
}

/* NEWSLETTER */
.newsletter { height: auto; margin: 30px 0; padding-bottom: 5px; background-color: #FFFFFF;
	header{
		h2{ height: 45px; padding: 10px 0 0 10px; margin: 0; background-color:$verde-newsletter; color: #FFF; font-size: 18px; font-weight: 600; }
	}
	div{ height: 180px; padding: 0 10px 10px 10px;
		p{ padding: 0; margin: 0 0 5px 0; color:$cinza; font-size: 12px; }
		form{
			input {
				&[type=text]{ height:31px; margin-bottom: 10px; font-size: 12px; border:1px solid $verde-newsletter; border-radius: 5px; -webkit-box-shadow: 0 0 0; -moz-box-shadow: 0 0 0; box-shadow: 0 0 0; background: #FFFFFF;
					&:focus { -webkit-box-shadow: 0 0 0; -moz-box-shadow: 0 0 0; box-shadow: 0 0 0; background: #FFFFFF; }
				}
				&[type=submit] { width: 50px; height: 33px; float: right; clear: both; font-size: 16px; font-weight: 700 !important; color: #FFFFFF; border: 1px solid #98B611; background: url(../images/bg-btn-newsletter.png) repeat-x #98b611; cursor: pointer; border-radius: 5px;
					&:hover{ opacity: 0.90; font-weight: 700 !important; }
				}
			}
		}
	}
}

/* BOX */
.box { background-color: #FFFFFF; margin-bottom: 30px;
	a { display: block; font-size: 14px; font-weight: 400px; color:$black-40pc; border-top: 3px solid; padding: 0 10px 10px 10px;
		&:hover span { text-decoration: underline; }
		strong { display: block; margin: 10px 0 3px 0; font-size: 16px; font-weight: 600; line-height: 24px; color:$black; }
		img { width: 100%; margin-bottom: 3px; }
		span { display: block; text-align: center;
			em { font-style: normal; }
		}
	}
}

/* BOX RED */
.box-red a { border-color: $black-40pc;
	&:hover { border-color:$vermelho; }
	em.price { font-style: normal; color:$black; }
	&:hover em.price { color:$vermelho; text-decoration: underline; }
}

/* BOX GREEN */
.box-green a { border-color:$verde-claro;
	&:hover { border-color:$verde-escuro; }
	em.price { font-style: normal; color:$black; }
	&:hover em.price { color:$verde-escuro; text-decoration: underline; }
}

/* NOTICIAS-HOME */
.noticias-home { background-color: #FFFFFF; margin-bottom: 30px;
	header{
		h2 { height: 45px; padding: 8px 0 0 10px; margin: 0; background-color:$yellow; color: #FFF; font-size: 20px; font-weight: 700; }
	}
	dd { display: block; padding: 0 10px 15px 10px; margin-bottom: 15px; border-bottom: 1px solid #F8F8F8;
		a { font-size: 12px; font-weight: normal; color:$black-40pc;
			&:hover { text-decoration: underline; }
			&:hover strong { color:$yellow; text-decoration: underline; }
			span { width: 10px; height: 11px; position: absolute; right: 25px; background: url(../images/icon-news-movies.png) no-repeat 0 0; }
			strong { font-size: 16px; font-weight: 400; color:$black; }
		}
	}
}

/* VIDEOS-HOME */
.videos-home { background-color: #FFFFFF; margin-bottom: 30px;
	header{
		h2 { height: 45px; padding: 8px 0 0 10px; margin: 0; background-color:$marrom; color: #FFF; font-size: 20px; font-weight: 700; }
	}
	dd { display: block; padding: 0 10px 15px 10px; margin-bottom: 15px; border-bottom: 1px solid #F8F8F8;
		a { font-size: 12px; font-weight: normal; color:$black-40pc;
			&:hover { text-decoration: underline; }
			&:hover strong { color:$marrom; text-decoration: underline; }
			span { width: 15px; height: 10px; position: absolute; right: 25px; background: url(../images/icon-news-movies.png) no-repeat -10px 0; }
			strong { font-size: 16px; font-weight: 400; color:$black; }
		}
	}
}

/* PREVISAO-DO-TEMPO */
.previsao-do-tempo { background-color: #FFFFFF; margin-bottom: 30px;
	header{
		h2 { height: 45px; padding: 8px 0 0 10px; margin: 0; background-color:$azul-tempo; color: #FFF; font-size: 20px; font-weight: 700; }
	}
	dd { height: 253px; display: block; padding: 30px 10px; text-align: center; }
}

/* COTACOES */
.cotacoes { background-color: #FFFFFF; margin-bottom: 30px;
	header{
		h2 { height: 45px; padding: 8px 0 0 10px; margin: 0; background-color:$cinza-escuro; color: #FFF; font-size: 20px; font-weight: 700; }
	}
	dd { height: 172px; display: block; padding: 5px 10px; text-align: center;
		iframe { width: 100% !important; }
	}
}

/* ULTIMOS-ANUNCIOS */
.ultimos-anuncios { background-color: #FFFFFF;
	header{
		h2 { height: 45px; padding: 8px 0 0 10px; margin: 0; background-color:$cinza-escuro; color: #FFF; font-size: 20px; font-weight: 700; }
	}
	div.slider1 { display: block; padding: 10px 12px;
		div.slide { width: 120px; min-height: 220px; display: inline-block;
			a { font-size: 14px; font-weight: 400; color:$black;
				&:hover { text-decoration: underline; }
				em.red-price { font-size: 12px; font-style: normal; color:$vermelho; @include opacity(0.8); }
				em.green-price { font-size: 12px; font-style: normal; color:$verde-escuro; @include opacity(0.8); }
				&:hover {
					em { @include opacity(1); text-decoration: underline; }
					img {  @include opacity(0.9); }
				}
			}
		}
	}
	a{
		&.bx-prev { width: 9px; height: 19px; position: absolute; left: 21px; top: 109px; text-indent: -9999px; background: url(../images/btn-carousel.png) no-repeat 0 0; @include opacity(0.8); }
		&.bx-next { width: 9px; height: 19px; position: absolute; right: 21px; top: 109px; text-indent: -9999px; background: url(../images/btn-carousel.png) no-repeat -9px 0; @include opacity(0.8); }
		&.bx-prev:hover, &.bx-next:hover{ @include opacity(1); }
	}
}
.bx-wrapper { margin: 0 23px !important; }

/* TITULO INTERNO*/
.titulo-interno { display: block; font-weight: bold; font-size: 20px; color:$black; margin: 0 0 12px 0; padding: 6px 10px; border-bottom: 2px solid $black;
	small { color: $black; font-size: 18px; font-weight: 600;
		&.right { color:$black; font-size: 12px; font-weight: 600; padding-top: 12px; }
	}
}

/* BOX INTERNO */
.box-interno{ width: 100%; float: left; clear: both; background-color: #FFFFFF; margin-bottom: 30px;
	div.ultimos-anuncios-zera { padding: 0 !important; margin-top: 30px !important;	}
	.ultimos-anuncios {	a { &.bx-prev{ left:11px; } &.bx-next{ right: 11px; } }	}
	div.carousel_destacado div.slide_i{ width: 145px; min-height: 220px; display: inline-block;
		a { font-size: 14px; font-weight: 400; color:$black;
			&:hover { text-decoration: underline; }
      		em.red-price { font-size: 12px; font-style: normal; color:$vermelho; @include opacity(0.8); }
      		em.green-price { font-size: 12px; font-style: normal; color:$verde-escuro; @include opacity(0.8); }
			&:hover em { text-decoration: underline; @include opacity(1); }
			img { width: 145px; height: 109px; }
			&:hover span { width: 145px; height: 109px; position: absolute; border:3px solid;
				&.border-red { border-color:$vermelho; }
				&.border-green { border-color:$verde-escuro; }
			}
		}
	}
	.bx-wrapper { margin: 10px 31px !important; }
	a {
		&.bx-prev { width: 9px; height: 19px; position: absolute; left: 21px; top: 109px; text-indent: -9999px; background: url(../images/btn-carousel.png) no-repeat 0 0; @include opacity(0.8); }
		&.bx-next { width: 9px; height: 19px; position: absolute; right: 21px; top: 109px; text-indent: -9999px; background: url(../images/btn-carousel.png) no-repeat -9px 0; @include opacity(0.8); }
		&.bx-prev:hover, &.bx-next:hover { @include opacity(1); }
	}
	/* edita carousel de últimos anúncios para páginas internas */
	/* .ordenar_por */
	.ordenar_por { font-size: 12px; font-weight: normal; padding: 10px 0; margin: 0 10px 15px 10px; border-top: 1px dashed $black; color:$black;
		em { color:$black-40pc; font-style: normal; }
		a { color:$black; font-weight:400;
			&:hover { text-decoration: underline; }
		}
	}
	/* ANUNCIO */
	.dados-anuncio { width: 100%; display: block; padding: 10px;
		div{ font-size: 12px; font-weight: normal; color:$black-80pc;
			&.left{ text-align: left; }
			&.right { text-align: right; }
			p, em { font-size: 12px; font-weight: normal; color:$black-80pc; }
			p { display:block;
				a { font-size: 12px; font-weight: normal; color:$black-80pc;
					&:hover { text-decoration: underline; }
				}
				&.price-a-vista { font-size: 16px; font-weight: 600; color:$black; }
				&.price-a-prazo { color:$vermelho; }
				&.empty{ width:100%; height:19px; float:left; clear:both; margin-bottom:15px !important; }
			}
		}
	}
	/* ANUNCIO GALERIA */
	.rg-gallery { width: 100%; float: left; clear: both; }
	.rg-image-wrapper { width: 100%; padding: 0 10px; clear: both; min-height: 20px; }
	.rg-image { position: relative; text-align: center; line-height: 0px;
		img { max-height: 100%; max-width: 100%; }
	}
	.rg-image-nav a { display:none; position:absolute; top:0px; left:0px; background:$black url(../images/nav.png) no-repeat -20% 50%; width:28px; text-indent:-9000px; cursor:pointer; @include opacity(0.3); outline:none;
		&.rg-image-nav-next { right: 0px; left: auto; }
		&:hover { @include opacity(0.8); }
	}
	.rg-caption { text-align: center; margin-top: 15px; position: relative;
		p { font-size: 12px; line-height: 16px; padding: 0 15px; }
	}
	.rg-view { height: 30px;
		a { display: block; float: right; width: 16px; height: 16px; margin-right: 3px; background:$cinza-escuro no-repeat top left; @include opacity(0.8);
			&:hover { @include opacity(1); }
			&.rg-view-full { background-position: 0px 0px; }
			&.rg-view-selected { background-color: $cinza-escuro; border-color: $cinza-escuro; }
			&.rg-view-thumbs { background-position: 0px -16px; }
		}
	}
	.rg-loading { width: 46px; height: 46px; position: absolute; top: 50%; left: 50%; background:$black url(../images/loader.gif) no-repeat center center; margin: -23px 0px 0px -23px; z-index: 100; @include border-radius(10px); @include opacity(0.7); }
	/* miniaturas */
	.es-carousel-wrapper { padding: 10px 27px; position: relative; position: relative; }
	.es-carousel { overflow: hidden;
		ul { display: none;
			li { height: 100%; margin-right: 10px; float: left; display: block;
				a { display: block; @include opacity(0.8); -webkit-touch-callout: none; /* option */ -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
				&.selected a { border-color: #fff; @include opacity(1); }
				a img { display: block; border: none; max-height: 100%; max-width: 100%; }
			}
		}
	}
	.es-nav span { width: 9px; height: 19px; position: absolute; top: 50%; left: 8px; background: url(../images/btn-carousel.png) no-repeat; margin-top: -13px; text-indent: -9000px; cursor: pointer; @include opacity(0.8);
		&.es-nav-next { right: 8px; left: auto; background-position: top right; }
		&:hover { @include opacity(1); }
	}
	
	/* BOTOES ANUNCIO */
	.botoes-anuncio { width: 100%; float: left; clear: both; padding: 0 10px; margin: 0;
		li { float:left; margin: 0 60px 10px 0; padding: 0; list-style: none;
			a{ width:210px; height: 30px; display: block; font-size: 14px; line-height: 30px; font-weight: bold; background:$verde-escuro; color: #FFF;
				&:hover { background:$verde-claro; }
				i.seta { width: 8px; height: 30px; float: left; margin-right: 5px; background: url(../images/bg-setas.png) no-repeat; }
				i.perguntas{ width:23px; height:19px; float:left; margin:5px 5px 0 0; background:url(../images/icon-perguntas.png) no-repeat; }
				i.anuncios{ width:23px; height:19px; float:left; margin:5px 5px 0 0; background:url(../images/icon-perfildovendedor.png) no-repeat; }
				i.falecom{ width:23px; height:19px; float:left; margin:5px 5px 0 0; background:url(../images/icon-falecomovendedor.png) no-repeat; }
			}
			&:first-child a{ width:155px; }
			&:last-child{ margin-right:0; }
		}
	}
	/* DETALHES ANUNCIO */
	.detalhes-anuncio { width: 100%; float: left; clear: both; padding: 0 10px 10px 10px; margin: 0;
		header { width: 100%; float: left; clear: both; margin-top: 30px;
			h3 { float: left; font-size: 18px; font-weight: bold; color:$verde-escuro; }
		}
		ul { float: right; height: 18px; list-style: none;
			li { width: 18px; height: 18px; display: inline-block; margin: 6px 0 0 5px;
				a { width: 18px; height: 18px; display: block; background: url(../images/bg-bts-detalhes-anuncio.png) no-repeat $cinza;
					&:hover { background-color:$black-777; }
					&.imprimir { background-position: 0 0; }
					&.aumenta-texto { background-position: -18px 0; }
					&.diminui-texto { background-position: -36px 0; }
				}
			}
		}
		p { width: 100%; float: left; clear: both; font-size: 12px; line-height: 14px; }
	}
	/* PERGUNTE AO VENDEDOR */
	.pergunte-ao-vendedor { width: 100%; float: left; clear: both; margin-bottom: 30px;
		header { width: 100%; float: left; clear: both; margin-bottom: 10px;
			h2 { height: 45px; line-height: 45px; font-size: 18px; font-weight: bold; background:$verde-escuro; color: #FFF; margin: 0; padding: 0 10px; }
		}
		form { width: 100%; padding: 0 10px; margin-bottom: 10px;
			p { font-size: 12px; color:$black-80pc; }
			label { color:$vermelho;
				input[type=text] { width:85%; display: inline-block; }
				select {  width:85%; display: inline-block;
					option:first-child { color: #CCC !important; }
				}
				textarea { height: 150px; }
				&.right { width: 100%; }
				&.cinquentapc{ width:50%; float:left; }
			}
		}
		h3 { font-size: 18px; font-weight: bold; color: #006C34; padding: 0 10px; }
		ul.lista-de-perguntas { display: block; list-style: none; margin: 0 0 10px 0; padding: 0 10px; font-size: 12px;
			li { width: 100%; display: table; padding: 10px; background-color: #FFFFFF;
				&.cinza { background-color: #F8F8F8; }
				div { width: 100%; display: table; margin-top: 20px;
					&:first-child { margin-top: 0; }
					time.col-um { width: 25%; margin-right: 5%; display: table-cell; }
					span {
						&.col-dois { width: 70% !important; display: table-cell; }
						&.pergunta { color:$verde-claro; }
					}
				}
			}
		}
		.botao-verde{ margin-right: 10px; }
	}
	/* BANNERS 300x250 ANUNCIO*/
	.banners-300-250-anuncio { width: 100%; float: left; clear: both; text-align: center; margin: 20px 0;
		div { width: 50%; float: left; }
	}
	/* AVISO ANUNCIO */
	p.aviso-anuncio { width: 100%; float: left; clear: both; font-size: 12px; margin-top: 50px; padding: 0 10px; }
	
	/* CADASTRE-SE */
	#form-cadastre-se {
		h3{ width:100%; height:38px; float:left; clear:both; font-size:14px; font-weight:600; text-transform:uppercase; color:#FFF; line-height:38px; padding:0 10px; margin:15px 0; background:$cinza; }
		p{ padding:5px 10px; margin:0;
			label{
				input.large-9{ width:65% !important; }
				input[type=radio], input[type=checkbox]{ margin-right:10px; }
			}
			em{ line-height:11px;
				a{ color:$vermelho; &:hover{ @include opacity(0.80); } }
			}
		}
		div.box-termos{ height:250px; float:left; clear:both; background:#F8F8F8; margin:0 10px 15px 10px; padding:10px; border:1px solid $black; font-size:12px; overflow:auto; }
	}
	
} /* FIM DO BOX INTERNO */


/* BOTAO VERDE */
.botao-verde { width: auto; display: block; height: 30px; line-height: 30px; font-weight: bold; background:$verde-escuro; color: #FFF; padding: 0 10px 0 0; font-size: 14px;
	&:hover { background:$verde-claro; color: #FFF; }
	i.seta { width: 8px; height: 30px; float: left; margin-right: 5px; background: url(../images/bg-setas.png) no-repeat; }
}

/* .LISTA-H */
.lista-h { border: 2px solid $cinza-EEE; padding: 10px; margin: 0 10px 10px 10px; @include border-radius(5px);
	&.red.destacado { background-color:#F7E8E7; border-color:$vermelho;
		span.oferta { width: 84px !important; height: 69px !important; margin: -10px 0 0 -10px; position: absolute; z-index: 999; background: url(../images/bg-oferta.png) no-repeat; }
	}
	&.green.destacado { background-color:#F0F6F3; border-color:$verde-escuro;
		span.oferta { width: 84px; height: 69px; margin: -10px 0 0 -10px; position: absolute; z-index: 999; background: url(../images/bg-oferta.png) no-repeat -84px 0; }
	}
	a{ color: #666666; font-size: 12px; font-weight: normal; display: table !important;
		span strong { font-size: 18px; font-weight: bold; color:$black; line-height: 25px; }
		img { width: 148px; height: 111px; display: inline-table !important; vertical-align: top; margin-right: 10px;
			&:hover { @include opacity(0.9); }
		}
		span { line-height: 16px; display: inline-table !important; vertical-align: top;
			b { font-size: 15px; font-weight: 400; color:$black; }
		}
	}
	&.red { &.destacado a span b { color:$vermelho; } a:hover span { b { color:$vermelho; } em { background-position: 0 0; } } }
	&.green { &.destacado a span b { color:$verde-escuro; } a:hover span { b { color:$verde-escuro; } em { background-position: 0 -36px; } } }
	a span {
		i { font-style: normal; }
		em { width: 44px; height: 36px; position: absolute; right: 39px; margin-top: -20px; background: url(../images/bg-lista-h.png) no-repeat 0 -72px; z-index: 999; }
	}
}

/* .LINKS-HELP-RODAPE */
.links-help-rodape{ clear: both; padding: 40px 0 90px; text-align: center; font-size: 12px; font-weight: normal; color:$black-80pc;
	a { font-size: 12px; font-weight: normal; color:$black-80pc; margin-right: 15px; padding-right: 15px; border-right: 1px solid $cinza;
		&:last-child { margin-right: 0; padding-right: 0; border: 0; }
		&:hover { text-decoration: underline; }
	}
}

/* PAGINACAO */
.paginacao { text-align: center; padding: 30px 0 50px 0;
	span.bts { color:$cinza-CCC; background-color:#FFF; font-size: 12px; padding: 2px 6px; border: 1px solid $cinza-CCC; @include border-radius(5px); }
	a { color:$verde-escuro; background-color: #FFF; font-size: 12px; padding: 2px 6px; border: 1px solid $verde-escuro; @include border-radius(5px);
    	&:hover, &.atual { color:#FFFFFF; background-color: $verde-escuro; text-decoration: none; }
	}
}

/* COMPARTILHAR */
.compartilhar { width: 100%; padding: 40px 10px; float: left; clear: both;
	span { float: left; font-size: 12px; padding: 0 5px 0 0; line-height: 21px; }
	a { width: auto; float: left; margin: 0 10px 0 0; }
}

/* #footer */
#footer { height: 200px; margin-top: 30px; padding: 20px 0; margin-bottom: 30px; background: url(../images/bg-footer.png) repeat-x $verde-escuro; color: #FFFFFF;
	.redes-sociais { margin: 60px 0 0 50px; padding: 0; list-style-type: none;
		li { width: 31px; height: 30px; display: inline-block; margin: 0 5px;
			a { width: 31px; height: 30px; float: left; clear: both; background: url(../images/icon-social.png) no-repeat; text-indent: -99999px;
				&:hover { @include opacity(0.9); }
				&.f { background-position: 0 0; }
				&.t { background-position: -31px 0; }
				&.y { background-position: -62px 0; }
			}
		}
	}
	.menu-footer { float: left; margin-left: 30px;
		&:first-child { margin: 0; }
		li { display: block;
			a { font-size: 13px; font-weight: 700; color: #FFFFFF;
				&:hover { text-decoration: underline; }
			}
		}
	}
	select#menu-footer { margin: 20px 0 90px 0; }
	p.copy { float: left; text-align: center; font-size: 11px; padding: 0 0 0 80px; margin: 0; }
	a.developed { width: 56px; height: 19px; float: right; padding: 0; margin: 0; text-indent: -9999px; background: url(../images/logo-cafecomideias.png) no-repeat; }
}

/* ARROWS */
.arrow-menu { width: 12px; height: 8px; display: block; margin: 0 0 0 14px; background: url(../images/bg-setas.png) no-repeat -8px 0; }
.box-red {
	a {
		.arrow-chamadas{ width: 33px; height: 8px; background: url(../images/bg-setas.png) no-repeat -20px -24px; }
	}
	&:hover .arrow-chamadas { background-position: -32px 0; }
}
.box-green {
	a{
		.arrow-chamadas { width: 33px; height: 8px; background: url(../images/bg-setas.png) no-repeat -32px -16px; }
	}
	&:hover .arrow-chamadas { background-position: -32px -8px; }
}
.arrow-yellow { width: 12px; height: 8px; display: block; margin: 0 0 10px 14px; background: url(../images/bg-setas.png) no-repeat -20px -16px; }
.arrow-brown { width: 12px; height: 8px; display: block; margin: 0 0 10px 14px; background: url(../images/bg-setas.png) no-repeat -20px -8px; }
.arrow-tempo { width: 12px; height: 8px; display: block; margin: 0 0 10px 14px; background: url(../images/bg-setas.png) no-repeat -20px 0; }
.arrow-cotacoes { width: 12px; height: 8px; display: block; margin: 0 0 10px 14px; background: url(../images/bg-setas.png) no-repeat -8px -24px; }
.arrow-facebook { width: 12px; height: 8px; display: block; margin: 0 0 10px 14px; background: url(../images/bg-setas.png) no-repeat -8px -8px; }
.arrow-newsletter { width: 12px; height: 8px; display: block; margin: 0 0 10px 14px; background: url(../images/bg-setas.png) no-repeat -8px -16px; }
/* FONTS SIZE */
.font10 { font-size: 10px !important; }
.font12 { font-size: 12px !important; }
.font14 { font-size: 14px !important; }
.font16 { font-size: 16px !important; }
.font18 { font-size: 18px !important; }
.font20 { font-size: 20px !important; }
.font22 { font-size: 22px !important; }
.font24 { font-size: 24px !important; }
.font26 { font-size: 26px !important; }
/* MARGINS */
.margin-bottom10 { margin-bottom: 10px !important; }
.margin-bottom20 { margin-bottom: 20px !important; }
.margin-bottom30 { margin-bottom: 30px !important; }
.margin-top5 { margin-top: 5px !important; }
.margin-top10 { margin-top: 10px !important; }
.margin-top20 { margin-top: 20px !important; }
.margin-top30 { margin-top: 30px !important; }
/* LARGURAS */
.l10{ width:10% !important; }
.l20{ width:20% !important; }
.l30{ width:30% !important; }
.l40{ width:40% !important; }
.l50{ width:50% !important; }
.l60{ width:60% !important; }
.l70{ width:70% !important; }
.l80{ width:80% !important; }
.l90{ width:90% !important; }
.l100{ width:100% !important; }
/* OTHERS */
.padding-box-interno { padding: 0 10px; }
.pc50 { width: 50%; }
.h405 { min-height: 405px !important; }
.zerar { margin: 0; padding: 0; border: 0; }
.clear{ clear:both; }