@import "mixins.scss";
/*
+----------------------------------------------------------------+
    PROJECT
+----------------------------------------------------------------+
*/
::selection, ::-moz-selection{ background:$verde-escuro; color:#FFF; }
html, body{ width:100%; height:100%; overflow: initial; }

/* .publicidade-top */
.publicidade-top{ margin:10px 0 0 0; height:90px; text-align:center;
    small, big{ width:5px; height:90px; position:absolute; background: url(../images/publicidade.png) no-repeat center; right:5px; margin:0; top:0; }
}


/* .logo */
#header{ margin-top:10px;
	h1.logo { margin: 0; padding: 0; text-indent: -9999px; min-height: 89px; background: url(../images/logo-ofertasagricolas.png) no-repeat 15px 0; }
	.search {
		form { padding: 0; margin: 0;
			label { height: auto; padding: 0 !important; margin-bottom: 5px !important; font-size: 14px; }
			input {
				&[type=text] { width: 90%; height: 38px; margin: 0; border: 1px solid #B6B8B5; float: left; background-color:#FFF; }
				&[type=image] { width: 43px; height: 38px; margin: 0; text-align: center; border: 1px solid #004423; background: url(../images/bg-btn-search.png) repeat-x #004423; float: right;
					&:hover { opacity: 0.90; }
				}
			}
		}
    	.pagina-inicial { float: left; font-size: 12px; color: #000; line-height: 20px; margin-top: 10px;
			&:hover { color:$cinza; }
			span { width: 20px; height: 20px; float: left; clear: both; background: url(../images/icon-house.png) no-repeat center center #00783e; margin-right: 5px; }
		}
		.fb-like { height: 20px; float: right; margin-top: 10px; }
	}
}

/* div.top */
div.top-red{ width:30%; height: 45px; background-color:$vermelho; margin:10px 0 20px 0; position:absolute; right:0; z-index:2; }
div.top-green{ width:100%; height: 45px; background-color:$verde-escuro; margin:10px 0 20px 0; position:absolute; z-index:1; }
div.top{ width: 100%; height: 45px; margin: 10px 0 20px 0;
	.login { height: 45px; padding: 5px 0 5px 50px; margin: -45px 0 0 667px; background: url(../images/bg-nav-colors.png) no-repeat left $vermelho; position: absolute; z-index: 2;
		h3{ color:#FFF; font-size:12px; margin:0; padding:0;
			strong{ font-size:14px; font-weight:bold; }
		}
		form { padding: 0; margin: 0;
			label.error{ position:absolute; font-size:10px; margin-top:-15px; }
			label[for=senha]{ margin-left:118px; }
			input { float: left; width: 113px; height: 22px; margin:0 5px 0 0; padding: 3px !important; border: 1px solid $black; font-size: 10px; color:$black-80pc; background: #FFFFFF;
				&[name=cpf]{ width:210px; }
				&[type=submit]{ width: 31px; height: 21px; margin-top: 1px; background: url(../images/bg-btn-login.png) repeat-x $black-40pc; border: 1px solid $cinza; color: #FFF; font-size: 12px; font-weight: 400; cursor: pointer; text-align: center;
					&:hover { border-color:$cinza; color: #EEEEEE; }
				}
			}
		}
		p { width: 100%; float: left; clear: both; font-size: 10px; color: #FFF; margin: 0; padding: 0;
			a { color: #FFF;
				&:hover { text-decoration: underline; }
			}
		}
	}
}

/* nav.classificados */
nav {
	&.classificados, &.servicos { margin: 0 0 30px 0; background-color: #FFFFFF; }
	&.classificados h2, &.servicos h2 { height: 45px; padding: 10px 0 0 10px; margin: 0; background-color:$verde-escuro; color: #FFF; font-size: 18px; font-weight: 600; }
	&.classificados ul, &.servicos ul { margin: 10px 0 0 0; padding: 0 0 10px 0; list-style-type: none; line-height: 26px; }
	&.classificados ul li, &.servicos ul li { margin: 0; padding: 0; }
	&.classificados ul li a, &.servicos ul li a { display: block; padding: 2px 6px; font-size: 13px; color:$verde-escuro; }
	&.classificados ul li a:hover, &.servicos ul li a:hover { color: #FFF; background:$verde-escuro; }
}

.top-bar-section{
	ul{ background-color:$verde-escuro; }
}
.left-off-canvas-toggle { width: 40px; height: 40px; display: block; background-color:$verde-escuro; color: #FFFFFF; text-indent: -9999px; }
.off-canvas-wrap, .right-small, nav.tab-bar, .tab-bar-section { background-color: transparent !important; }

/* BANNER 1:1 */
.banner1-1 { display: block; background: #FFFFFF; padding: 10px; margin: 0 0 30px 0;
    small{ width:5px; height:200px; position: absolute; background: url(../images/publicidade.png) no-repeat center; margin-left:2px; }
}
.bannerselo{ display: block; height: 100px;
    small{ width:220px; height:5px; display: block; background:url(../images/publicidade-h.png) no-repeat left; margin:0 0 3px 0; }
}
.banner{
    small{ width:5px; height:250px; position:absolute; background:url(../images/publicidade.png) no-repeat center; margin:0 0 0 3px; }
}
.bannerhome{
  small, big{ width:5px; height:250px; position:absolute; background:url(../images/publicidade.png) no-repeat center; margin:0 7px 0 0; top:0; right: 0; }
  big{ margin-right:5px; }
}
.bannerhomefinal{ padding-left: 0; }
.superbanner{ display: block; height: 97px;
    small{ width:100%; height:5px; display:block; background:url(../images/publicidade-h.png) no-repeat 5px 0; margin:0 0 2px 0; }
}
.bannertop1{ max-width:720px; max-height:90px; }
.bannertop2{ max-width:220px; max-height:90px; }
.bannersidebar1{ max-width:200px; max-height:200px; }
.bannersidebar2{ max-width:220px; max-height:90px; }
.bannerinterno{ float: left; clear: both; max-width:220px; max-height:90px; }
.bannerquadrado{ max-width:300px; max-height:250px;
    small{ width:5px; height:250px; position:absolute; background:url(../images/publicidade.png) no-repeat right; margin:0 0 0 3px; }
}
.banner720-90{ float: left; clear: both; max-width: 720px; max-height: 90px; }

.banners-buttons{ width: 100%; height:160px; display: block; margin-top: -15px; text-align: center;
    .banner-button{ width: 150px; height: 60px; float:left; margin:10px;
        img, object, embed{ width: 150px; height: 60px; }
    }
    small{ width:5px; height:160px; position:absolute; background:url(../images/publicidade.png) no-repeat center; margin:0 3px 0 0; }
}

/* FACEBOOK */
.facebook { background-color: #FFFFFF; padding-bottom: 10px;
	header{
		h2 { height: 45px; padding: 10px 0 0 10px; margin: 0; background-color:$azul-facebook; color: #FFF; font-size: 18px; font-weight: 600; }
	}
}

/* NEWSLETTER */
.newsletter { height: auto; margin: 30px 0; padding-bottom: 5px; background-color: #FFFFFF;
	header{
		h2{ height: 45px; padding: 10px 0 0 10px; margin: 0; background-color:$verde-newsletter; color: #FFF; font-size: 18px; font-weight: 600; }
	}
	div{ height: 180px; padding: 0 10px 10px 10px;
		p{ padding: 0; margin: 0 0 5px 0; color:$cinza; font-size: 12px; }
		form{
			input {
				&[type=text]{ height:31px; margin-bottom: 10px; font-size: 12px; border:1px solid $verde-newsletter; border-radius: 5px; -webkit-box-shadow: 0 0 0; -moz-box-shadow: 0 0 0; box-shadow: 0 0 0; background: #FFFFFF;
					&:focus { -webkit-box-shadow: 0 0 0; -moz-box-shadow: 0 0 0; box-shadow: 0 0 0; background: #FFFFFF; }
				}
				&[type=submit] { width: 50px; height: 33px; float: right; clear: both; font-size: 16px; font-weight: 700 !important; color: #FFFFFF; border: 1px solid #98B611; background: url(../images/bg-btn-newsletter.png) repeat-x #98b611; cursor: pointer; border-radius: 5px;
					&:hover{ opacity: 0.90; font-weight: 700 !important; }
				}
			}
		}
	}
}

/* BOX */
.box { background-color: #FFFFFF; margin-bottom: 30px;
	a { display: block; font-size: 14px; font-weight: 400px; color:$black-40pc; border-top: 3px solid; padding: 0 10px 10px 10px;
		&:hover span { text-decoration: underline; }
		strong { display: block; margin: 10px 0 3px 0; font-size: 16px; font-weight: 600; line-height: 24px; color:$black; height:50px; text-overflow:ellipsis; white-space:wrap; }
		img { width: 100%; margin-bottom: 3px; }
		span { display: block; text-align: center;
			em { font-style: normal; }
		}
	}
}

/* BOX RED */
.box-red a { border-color: $black-40pc;
	&:hover { border-color:$vermelho; }
	em.price { font-style: normal; color:$black; }
	&:hover em.price { color:$vermelho; text-decoration: underline; }
}

/* BOX GREEN */
.box-green a { border-color:$verde-claro;
	&:hover { border-color:$verde-escuro; }
	em.price { font-style: normal; color:$black; }
	&:hover em.price { color:$verde-escuro; text-decoration: underline; }
}

/* NOTICIAS-HOME */
.noticias-home { background-color: #FFFFFF; margin-bottom: 30px; min-height:333px;
	header{
		h2 { height: 45px; padding: 8px 0 0 10px; margin: 0; background-color:$yellow; color: #FFF; font-size: 20px; font-weight: 700; }
	}
	dd { display: block; padding: 0 10px 15px 10px; margin-bottom: 15px; border-bottom: 1px solid #F8F8F8;
		a { font-size: 12px; font-weight: normal; color:$black-40pc;
			&:hover { text-decoration: underline; }
			&:hover strong { color:$yellow; text-decoration: underline; }
			span { width: 10px; height: 11px; position: absolute; right: 25px; background: url(../images/icon-news-movies.png) no-repeat 0 0; }
			strong { font-size: 16px; font-weight: 400; color:$black; }
		}
	}
}

/* VIDEOS-HOME */
.videos-home { background-color: #FFFFFF; margin-bottom: 30px; min-height:333px;
	header{
		h2 { height: 45px; padding: 8px 0 0 10px; margin: 0; background-color:$marrom; color: #FFF; font-size: 20px; font-weight: 700; }
	}
	dd { display: block; padding: 0 10px 15px 10px; margin-bottom: 15px; border-bottom: 1px solid #F8F8F8;
		a { font-size: 12px; font-weight: normal; color:$black-40pc;
			&:hover { text-decoration: underline; }
			&:hover strong { color:$marrom; text-decoration: underline; }
			span { width: 15px; height: 10px; position: absolute; right: 25px; background: url(../images/icon-news-movies.png) no-repeat -10px 0; }
			strong { font-size: 16px; font-weight: 400; color:$black; }
		}
	}
}

/* PREVISAO-DO-TEMPO */
.previsao-do-tempo { background-color: #FFFFFF; margin-bottom: 30px; min-height:333px;
	header{
		h2 { height: 45px; padding: 8px 0 0 10px; margin: 0; background-color:$azul-tempo; color: #FFF; font-size: 20px; font-weight: 700; }
	}
	dd { height: 253px; display: block; padding: 30px 10px; text-align: center; }
}

/* COTACOES */
.cotacoes { background-color: #FFFFFF; margin-bottom: 30px; min-height:235px;
	header{
		h2 { height: 45px; padding: 8px 0 0 10px; margin: 0; background-color:$cinza-escuro; color: #FFF; font-size: 20px; font-weight: 700; }
	}
	dd { height: 187px; display: block; padding: 5px 10px; text-align: center;
		iframe { width: 100% !important; }
	}
}

/* ULTIMOS-ANUNCIOS */
.outros{ width:100%; float:left; clear:both; background-color: #FFFFFF; padding-bottom:50px;
	header{ width:100%; float:left; clear:both; margin-bottom:10px;
		h2 { height: 45px; padding: 8px 0 0 10px; margin: 0; background-color:$cinza-escuro; color: #FFF; font-size: 20px; font-weight: 700; }
	}
	.lista-h{ margin-bottom:20px; }
}
/* ULTIMOS-ANUNCIOS */
.ultimos-anuncios { background-color: #FFFFFF;
	header{
		h2 { height: 45px; padding: 8px 0 0 10px; margin: 0; background-color:$cinza-escuro; color: #FFF; font-size: 20px; font-weight: 700; }
	}
	div.slider1 { display: block; padding: 10px 12px;
		div.slide { width: 120px; min-height: 220px; display: inline-block;
			a { font-size: 14px; font-weight: 400; color:$black;
				&:hover { text-decoration: underline; }
				em.red-price { font-size: 12px; font-style: normal; color:$vermelho; @include opacity(0.8); }
				em.green-price { font-size: 12px; font-style: normal; color:$verde-escuro; @include opacity(0.8); }
				&:hover {
					em { @include opacity(1); text-decoration: underline; }
					img {  @include opacity(0.9); }
				}
			}
		}
	}
	a{
		&.bx-prev { width: 9px; height: 19px; position: absolute; left: 21px; top: 109px; text-indent: -9999px; background: url(../images/btn-carousel.png) no-repeat 0 0; @include opacity(0.8); }
		&.bx-next { width: 9px; height: 19px; position: absolute; right: 21px; top: 109px; text-indent: -9999px; background: url(../images/btn-carousel.png) no-repeat -9px 0; @include opacity(0.8); }
		&.bx-prev:hover, &.bx-next:hover{ @include opacity(1); }
	}
}
.bx-wrapper { margin: 0 23px !important; }

.breadcrumb{ padding: 0 0 10px 0; color: $cinza-escuro; font-size:11px;
    a{ color: $cinza-escuro; font-size:11px;
        &:hover{ text-decoration: underline; }
    }
}
/* TITULO INTERNO*/
.titulo-interno { width:100%; float:left; clear:both; font-weight: bold; font-size: 20px; color:$black; margin: 0 0 12px 0; padding: 6px 10px; border-bottom: 2px solid $black;
	small { color: $black; font-size: 18px; font-weight: 600;
		&.right { color:$black; font-size: 12px; font-weight: 600; padding-top: 12px; margin-bottom: 10px; }
	}
}

/* BOX INTERNO */
.box-interno{ width: 100%; float: left; clear: both; background-color: #FFFFFF; margin-bottom: 30px;
	div.ultimos-anuncios-zera { padding: 0 !important;	}
	.ultimos-anuncios {	a { &.bx-prev{ left:11px; } &.bx-next{ right: 11px; } }	}
	div.carousel_destacado div.slide_i{ width: 145px; min-height: 200px; display: inline-block;
		a { font-size: 14px; font-weight: 400; color:$black;
			&:hover { text-decoration: underline; }
      		em.red-price { font-size: 12px; font-style: normal; color:$vermelho; @include opacity(0.8); }
      		em.green-price { font-size: 12px; font-style: normal; color:$verde-escuro; @include opacity(0.8); }
			&:hover em { text-decoration: underline; @include opacity(1); }
			img { width: 145px; height: 109px; }
			&:hover span { width: 145px; height: 109px; position: absolute; border:3px solid;
				&.border-red { border-color:$vermelho; }
				&.border-green { border-color:$verde-escuro; }
			}
		}
	}
    small.titulo-galeria{ width:100%; float:left; clear:both; text-align:right; margin-top:-15px; padding-right:10px;
        a{ color:#000; text-decoration:none; &:hover{ text-decoration:underline; } }
    }
	.bx-wrapper { margin: 10px 31px !important; }
	a {
		&.bx-prev { width: 9px; height: 19px; position: absolute; left: 21px; top: 109px; text-indent: -9999px; background: url(../images/btn-carousel.png) no-repeat 0 0; @include opacity(0.8); }
		&.bx-next { width: 9px; height: 19px; position: absolute; right: 21px; top: 109px; text-indent: -9999px; background: url(../images/btn-carousel.png) no-repeat -9px 0; @include opacity(0.8); }
		&.bx-prev:hover, &.bx-next:hover { @include opacity(1); }
	}
	/* edita carousel de últimos anúncios para páginas internas */
	/* .ordenar_por */
	.ordenar_por { font-size: 12px; font-weight: normal; padding: 10px 0; margin: 0 10px 15px 10px; border-top: 1px dashed $black; color:$black;
		em { color:$black-40pc; font-style: normal; }
		a { color:$black; font-weight:400;
			&:hover { text-decoration: underline; }
		}
	}
	/* ANUNCIO */
	.dados-anuncio { width: 100%; display: block; padding: 10px;
		div{ width:50%; font-size: 12px; font-weight: normal; color:$black-80pc;
			&.left{ text-align: left; }
			&.right { text-align: right; }
			p, em { font-size: 12px; font-weight: normal; color:$black-80pc; }
			p {
				a { font-size: 12px; font-weight: normal; color:$black-80pc;
					&:hover { text-decoration: underline; }
				}
				&.price-a-vista { font-size: 16px; font-weight: 600; color:$black; }
				&.price-a-prazo { color:$vermelho; }
				&.empty{ width:100%; height:19px; float:left; clear:both; margin-bottom:15px !important; }
			}
		}
	}
	/* ANUNCIO GALERIA */
	.rg-gallery { width: 100%; float: left; clear: both; }
	.rg-image-wrapper { width: 100%; padding: 0 10px; clear: both; min-height: 20px; }
	.rg-image { position: relative; text-align: center; line-height: 0px;
		img { max-height: 480px; max-width: 100%; }
	}
	.rg-image-nav a { display:none; position:absolute; top:0px; left:0px; background:$black url(../images/nav.png) no-repeat -20% 50%; width:28px; text-indent:-9000px; cursor:pointer; @include opacity(0.3); outline:none;
		&.rg-image-nav-next { right: 0px; left: auto; }
		&:hover { @include opacity(0.8); }
	}
	.rg-caption { text-align: center; margin-top: 15px; position: relative;
		p { font-size: 12px; line-height: 16px; padding: 0 15px; }
	}
	.rg-view { height: 30px;
		a { display: block; float: right; width: 16px; height: 16px; margin-right: 3px; background:$cinza-escuro no-repeat top left; @include opacity(0.8);
			&:hover { @include opacity(1); }
			&.rg-view-full { background-position: 0px 0px; }
			&.rg-view-selected { background-color: $cinza-escuro; border-color: $cinza-escuro; }
			&.rg-view-thumbs { background-position: 0px -16px; }
		}
	}
	.rg-loading { width: 46px; height: 46px; position: absolute; top: 50%; left: 50%; background:$black url(../images/loader.gif) no-repeat center center; margin: -23px 0px 0px -23px; z-index: 100; @include border-radius(10px); @include opacity(0.7); }
	/* miniaturas */
	.es-carousel-wrapper { padding: 10px 27px; position: relative; position: relative; }
	.es-carousel { overflow: hidden;
		ul { display: none;
			li { height: 100%; margin-right: 10px; float: left; display: block;
				a { display: block; @include opacity(0.8); -webkit-touch-callout: none; /* option */ -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
				&.selected a { border-color: #fff; @include opacity(1); }
				a img { display: block; border: none; max-height: 80px; max-width: 100%; }
			}
		}
	}
	.es-nav span { width: 9px; height: 19px; position: absolute; top: 50%; left: 8px; background: url(../images/btn-carousel.png) no-repeat; margin-top: -13px; text-indent: -9000px; cursor: pointer; @include opacity(0.8);
		&.es-nav-next { right: 8px; left: auto; background-position: top right; }
		&:hover { @include opacity(1); }
	}
	
	/* BOTOES ANUNCIO */
	.botoes-anuncio { width: 100%; float: left; clear: both; padding: 0 10px; margin: 0;
		li { float:left; margin: 0 60px 10px 0; padding: 0; list-style: none;
			a{ width:210px; height: 30px; display: block; font-size: 14px; line-height: 30px; font-weight: bold; background:$verde-escuro; color: #FFF;
				&:hover { background:$verde-claro; }
				i.seta { width: 8px; height: 30px; float: left; margin-right: 5px; background: url(../images/bg-setas.png) no-repeat; }
				i.perguntas{ width:23px; height:19px; float:left; margin:5px 5px 0 0; background:url(../images/icon-perguntas.png) no-repeat; }
				i.anuncios{ width:23px; height:19px; float:left; margin:5px 5px 0 0; background:url(../images/icon-perfildovendedor.png) no-repeat; }
				i.falecom{ width:23px; height:19px; float:left; margin:5px 5px 0 0; background:url(../images/icon-falecomovendedor.png) no-repeat; }
			}
			&:first-child a{ width:155px; }
			&:last-child{ margin-right:0; }
		}
	}
	/* DETALHES ANUNCIO */
	.detalhes-anuncio { width: 100%; float: left; clear: both; padding: 0 10px 10px 10px; margin: 0;
		header { width: 100%; float: left; clear: both; margin-top: 30px;
			h3 { float: left; font-size: 18px; font-weight: bold; color:$verde-escuro; }
		}
		ul { float: right; height: 18px; list-style: none;
			li { width: 18px; height: 18px; display: inline-block; margin: 6px 0 0 5px;
				a { width: 18px; height: 18px; display: block; background: url(../images/bg-bts-detalhes-anuncio.png) no-repeat $cinza;
					&:hover { background-color:$black-777; }
					&.imprimir { background-position: 0 0; }
					&.aumenta-texto { background-position: -18px 0; }
					&.diminui-texto { background-position: -36px 0; }
				}
			}
		}
		p { width: 100%; float: left; clear: both; font-size: 12px; line-height:normal !important; }
	}
	/* PERGUNTE AO VENDEDOR */
	.pergunte-ao-vendedor { width: 100%; float: left; clear: both; margin-bottom: 30px;
		header { width: 100%; float: left; clear: both; margin-bottom: 10px;
			h2 { height: 45px; line-height: 45px; font-size: 18px; font-weight: bold; background:$verde-escuro; color: #FFF; margin: 0; padding: 0 10px; }
		}
		form { width: 100%; padding: 0 10px; margin-bottom: 10px;
			p { font-size: 12px; color:$black-80pc; }
			label { color:$vermelho;
				input[type=text] { width: 80%; display: inline-block; }
				select {  width: 80%; display: inline-block;
					option:first-child { color: #CCC !important; }
				}
				textarea { height: 150px; }
				&.right { width: 100%; }
				&.cinquentapc{ width:50%; float:left; }
			}
		}
		h3 { font-size: 18px; font-weight: bold; color: #006C34; padding: 0 10px; }
		ul.lista-de-perguntas { display: block; list-style: none; margin: 0 0 10px 0; padding: 0 10px; font-size: 12px;
			li { width: 100%; display: table; padding: 10px; background-color: #FFFFFF;
				&.cinza { background-color: #F8F8F8; }
				div { width: 100%; display: table; margin-top: 20px;
					&:first-child { margin-top: 0; }
					time.col-um { width: 25%; margin-right: 5%; display: table-cell; }
					span {
						&.pergunta { color:$verde-claro;
							strong{ color:$black; display: block; }
						}
					}
					form#form-resposta{ margin:0; padding:0;
						textarea{ height:80px; background-color:#FFF; }
					}
				}
			}
		}
		.botao-verde{ margin-right: 10px; }
	}
	/* BANNERS 300x250 ANUNCIO*/
	.banners-300-250-anuncio { width: 100%; float: left; clear: both; text-align: center; margin: 20px 0;
		div { width: 50%; float: left; }
	}
	/* AVISO ANUNCIO */
	div.aviso-anuncio{ width:100%; float:left; clear:both; margin-top:50px; padding:0 10px;
		p{ font-size:12px; font-weight:normal; color:$black-80pc; margin:6pt !important; line-height:normal !important; }
	}
	
	/* CADASTRE-SE */
	#form-cadastre-se, #form-add-anuncio, #form-destacar-anuncio, #form-contato, #form-login2{
		h3{ width:100%; height:38px; float:left; clear:both; font-size:14px; font-weight:600; text-transform:uppercase; color:#FFF; line-height:38px; padding:0 10px; margin:15px 0; background:$cinza; }
		p{ padding:5px 10px; margin:0;
			label{
				input.large-9{ width:65% !important; }
				input[type=radio], input[type=checkbox]{ margin-right:10px; }
			}
			em{ line-height:11px;
				a{ color:$vermelho; &:hover{ @include opacity(0.80); } }
			}
			&.aviso{ line-height:normal !important; margin-bottom:30px; }
			a{ color:#666666; &:hover{ color:#333; } }
		}
		div.antes-box-termos{ width:100%; float:left; clear:both; padding:5px 10px; margin:0;
			div.box-termos{ width:100%; height:250px; float:left; clear:both; background:#F8F8F8; margin:0 0 15px 0; padding:0; border:1px solid $black; font-size:12px; overflow:auto;
				p{ font-size:12px; }
			}
		}
	}
	#form-contato{
		p{
			textarea{ height:200px; }
			button{ margin-bottom:30px; }
		}
	}
	#form-add-anuncio{
		p.margem-rodape{ margin: 0 0 1rem 0; }
	}
	#form-destacar-anuncio{
		p{ margin-bottom:20px;
			label{ text-align:center;
			}
		}
	}
	
} /* FIM DO BOX INTERNO */

/* AVISOS */
.avisos{
	ul.lista-de-avisos{ display: block; list-style:none; margin:0 0 15px 0; padding: 0 10px; font-size:13px;
		li { width: 100%; display: table; padding:10px; margin:0 0 8px; background-color: #FFFFFF;
			&.cinza { background-color: #F8F8F8; }
			strong{ font-size:18px; }
		}
	}
}
/* HISTORICO DE FATURAS */
.historico-de-faturas, .finalizar-anuncio{ padding:0 10px;
	table{ border:0; padding:0; margin:0; width:100%;
		thead{ background:#000;
			th{ margin:0; padding:10px 5px; color:#FFFFFF; font-size:12px; color:#FFF;
				&[align=center]{ text-align:center; }
			}
			&.total{ background:#999; 
				th{ padding-top:20px; padding-bottom:20px; font-size:14px; }
			}
		}
		tbody{
			tr{ background-color:#FFF;
				&.cinza{ background-color: #F8F8F8; }
				td{ margin:0; padding:5px; font-size:12px;
					a{ color:#000; &:hover{ text-decoration:underline; } }
				  	select{ margin:10px 0; }
				}
			}
		}
		tr{ padding:0; margin:0; border:0; }
	}
}
/* TIPOS DE ANUNCIO */
.tipos-de-anuncio{
	p{ text-align:center; font-size:12px; margin-top:30px;
		strong{ font-size:14px; }
		em{ font-size:11px; font-style:normal; }
	}
}

/* BOTAO VERDE */
.botao-verde { width: auto; display: block; height: 30px; line-height: 30px; font-weight: bold; background:$verde-escuro; color: #FFF; padding: 0 10px 0 0; font-size: 14px;
	&:hover { background:$verde-claro; color: #FFF; }
	i.seta { width: 8px; height: 30px; float: left; margin-right: 5px; background: url(../images/bg-setas.png) no-repeat; }
}

/* .LISTA-H */
.lista-h { margin: 0 10px 10px 10px;
	&.first{ background:#F5F5F5; }
	&.red.destacado { background-color:#F7E8E7;
		a{ border-color:$vermelho; em{ background-position:0 0; } &:hover{ em{ @include opacity(0.90); } } }
		span.oferta { width: 84px !important; height: 69px !important; margin: -10px 0 0 -10px; position: absolute; z-index: 999; background: url(../images/bg-oferta.png) no-repeat; }
	}
	&.green.destacado { background-color:#F0F6F3;
		a{ border-color:$verde-escuro; em{ background-position:0 -36px; } &:hover{ em{ @include opacity(0.90); } } }
		span.oferta { width: 84px; height: 69px; margin: -10px 0 0 -10px; position: absolute; z-index: 999; background: url(../images/bg-oferta.png) no-repeat -84px 0; }
	}
	a{ width:100%; border:2px solid $cinza-EEE; padding:10px; color:#666666; font-size:12px; font-weight:normal; display:table !important; @include border-radius(5px);
		span strong { font-size:18px; font-weight:bold; color:$black; line-height:25px; }
		img { width:148px; height:111px; float:left; vertical-align:top; margin-right:10px; }
		span { width:70% !important; line-height:16px; float:left; vertical-align:top;
			b { font-size:15px; font-weight:400; color:$black; }
		}
		&:hover img{ @include opacity(0.9); }
	}
	&.red { &.destacado a span b { color:$vermelho; } a:hover span { b { color:$vermelho; } em { background-position: 0 0; } } }
	&.green { &.destacado a span b { color:$verde-escuro; } a:hover span { b { color:$verde-escuro; } em { background-position: 0 -36px; } } }
	&.brown { a:hover{ border-color:$marrom; em{ background-position:0 0; } } a:hover span { b { color:$marrom; } } em{ margin-top:30px; background:url(../images/bg-lista-h-news-movies.png) no-repeat 0 -36px; } }
	&.yellow {
		a:hover{ border-color:$yellow;
			em{ background-position:0 -72px; }
		}
		a:hover span{
			b{ color:$yellow; }
		}
		em{ margin-top:30px; background:url(../images/bg-lista-h-news-movies.png) no-repeat 0 -108px; }
	}
	
	a span {
		i { font-style: normal; }
		em { width: 44px; height: 36px; position: absolute; right: 39px; margin-top: -20px; background: url(../images/bg-lista-h.png) no-repeat 0 -72px; z-index: 999; }
	}
}

/* .LINKS-HELP-RODAPE */
.links-help-rodape{ clear: both; padding: 40px 0 90px; text-align: center; font-size: 12px; font-weight: normal; color:$black-80pc;
	a { font-size: 12px; font-weight: normal; color:$black-80pc; margin-right: 15px; padding-right: 15px; border-right: 1px solid $cinza;
		&:last-child { margin-right: 0; padding-right: 0; border: 0; }
		&:hover { text-decoration: underline; }
	}
}

/* .duvidas */
.duvidas{ padding:10px; font-size:14px; line-height:normal;
	form{ width:100%; float:left; clear:both; margin:40px 0 30px 0; padding:0;
		label{ width:auto !important; float:left; clear:both; }
		input[type=text]{ width:90%; border-color:$cinza-CCC; background:#FFF; }
		input[type=image]{ margin:8px 15px;  }
	}
	h3{ width:100%; float:left; clear:both; margin:10px 0; font-size:16px; font-weight:bold; color:$black; }
	.accordion{ margin-bottom:30px;
		dd.accordion-navigation{
			a{ background-color:#FFFFFF; color:#000; min-height:45px; padding:8px 12px; font-size:18px; font-weight:bold; margin:5px 0; border:1px solid #A2A2A2;
				&.active{ background-color:#EFEFEF;
					span{ position:absolute; width: 12px; height: 8px; display: block; margin:8px 0 10px 14px; background: url(../images/bg-setas.png) no-repeat -53px -24px; }
				}
			}
			.content{ padding-left:0; padding-right:0; font-size:14px; line-height:normal;
				p{ font-size:14px; padding:0; margin:0; line-height:normal; }
			}
		}
	}
}
.contato-duvidas{ width:100%; float:left; clear:both; margin-top:20px;
	header{ width:100%; float:left; clear:both;
		h3.titulo-verde{ width:100%; height:45px; float:left; clear:both; font-size:18px; font-weight:bold; padding:8px 10px; margin:0; background-color:$verde-escuro; color:#FFF; }
		.arrow-menu{ float:left; clear:both; }
	}
	p{ width:100%; float:left; clear:both; padding-top:10px; }
	form{ width:100%; float:left; clear:both; margin-top:20px; }
}

/* .texto */
.texto{ padding:10px; font-size:13px; line-height:normal;
	#browser{
		ol, ul{ list-style:none; margin-left:0; }
	}
	.img-destaque{ max-width:300px; float:right; margin-left:10px;
		a{
			img{ -webkit-border-radius: 5px; -webkit-border-bottom-right-radius: 0; -moz-border-radius: 5px; -moz-border-radius-bottomright: 0; border-radius: 5px; border-bottom-right-radius: 0; border:2px solid $yellow; }
			span{ background-color:$yellow; color:#FFF; font-size:12px; font-weight:bold; padding:5px 10px; @include border-radius(5px); float:right; }
			&:hover{ span,img{ @include opacity(0.90); } }
		}
	}
	h3{ font-size:18px; font-weight:bold; }
	p{ font-size:13px !important; }
	.compartilhar{ padding:70px 0; }
}

/* PAGINACAO */
.paginacao { text-align: center; padding: 30px 0 50px 0;
	span.bts { color:$cinza-CCC; background-color:#FFF; font-size: 12px; padding: 2px 6px; border: 1px solid $cinza-CCC; @include border-radius(5px); }
	a { color:$verde-escuro; background-color: #FFF; font-size: 12px; padding: 2px 6px; border: 1px solid $verde-escuro; @include border-radius(5px);
    	&:hover, &.atual { color:#FFFFFF; background-color: $verde-escuro; text-decoration: none; }
	}
}

/* OCULTA MINIATURAS */
.clearing-container .carousel { display: none; }

/* COMPARTILHAR */
.compartilhar { width: 100%; padding: 40px 10px; float: left; clear: both;
	span { float: left; font-size: 12px; padding: 0 5px 0 0; line-height: 21px; }
	a { width: auto; float: left; margin: 0 10px 0 0; }
}

/* #footer */
#footer { height: 200px; margin-top: 30px; padding: 20px 0; background: url(../images/bg-footer.png) repeat-x $verde-escuro; color: #FFFFFF;
	p.titulo-redes-sociais{ margin: 42px 0 0 56px; font-size:10px; font-family:Arial, Helvetica, sans-serif !important; color:#FFF; text-align:left; }
	.redes-sociais { margin:0 0 0 50px; padding: 0; list-style-type: none;
		li { width: 31px; height: 30px; display: inline-block; margin: 0 5px;
			a { width: 31px; height: 30px; float: left; clear: both; background: url(../images/icon-social.png) no-repeat; text-indent: -99999px;
				&:hover { @include opacity(0.9); }
				&.f { background-position: 0 0; }
				&.t { background-position: -31px 0; }
				&.y { background-position: -62px 0; }
			}
		}
	}
	.menu-footer { float: left; margin-left: 30px;
		&:first-child { margin: 0; }
		li { display: block;
			a { font-size: 13px; font-weight: 700; color: #FFFFFF;
				&:hover { text-decoration: underline; }
			}
		}
	}
	select#menu-footer { margin: 20px 0 90px 0; }
	a.developed { width: 56px; height: 19px; float: right; padding: 0; margin: 0; text-indent: -9999px; background: url(../images/logo-cafecomideias.png) no-repeat; }
}
p.copy { width:100%; float: left; text-align: center; font-size: 10px; color:#000; padding:13px 0; margin:0; }
/* REVEAL MODAL */
.reveal-modal{
	h2{ width:100%; height:38px; float:left; clear:both; font-size:14px; font-weight:600; text-transform:uppercase; color:#FFF; line-height:38px; padding:0 10px; margin:15px 0; background:$verde-escuro; }
	form{
		p{ width:48%; padding:0; float:left;
			&.zera{ float:right; margin-right:0; }
			&.unica{ width:100%; margin-right:0; }
			textarea{ height:120px; }
		}
	}
	/* PERGUNTE AO VENDEDOR */
	.todas-perguntas-e-respostas{ width:100%; float:left; clear:both;
		.wrapper{ width:100%; height:500px; overflow:scroll;
			ul.lista-de-perguntas{ display:block; list-style: none; margin: 0 0 10px 0; padding: 0 10px; font-size: 12px;
				li { width: 100%; display: table; padding: 10px; background-color: #FFFFFF;
					&.cinza { background-color: #F8F8F8; }
					div { width: 100%; display: table; margin-top: 20px;
						&:first-child { margin-top: 0; }
						time.col-um { width: 25%; margin-right: 5%; display: table-cell; }
						span {
							&.col-dois { width: 70% !important; display: table-cell;
								strong{ color:$black; display: block; }
							}
							&.pergunta { color:$verde-claro; }
						}
					}
				}
			}
		}
		.paginacao{ padding:40px 0 20px 0; }
	}
}
/* ARROWS */
.arrow-menu{ width: 12px; height: 8px; display: block; margin: 0 0 0 14px; background: url(../images/bg-setas.png) no-repeat -8px 0; }
.box-red {
	a {
		.arrow-chamadas{ width: 33px; height: 8px; background: url(../images/bg-setas.png) no-repeat -20px -24px; }
	}
	&:hover .arrow-chamadas { background-position: -32px 0; }
}
.box-green {
	a{
		.arrow-chamadas { width: 33px; height: 8px; background: url(../images/bg-setas.png) no-repeat -32px -16px; }
	}
	&:hover .arrow-chamadas { background-position: -32px -8px; }
}
.arrow-yellow { width: 12px; height: 8px; display: block; margin: 0 0 10px 14px; background: url(../images/bg-setas.png) no-repeat -20px -16px; }
.arrow-brown { width: 12px; height: 8px; display: block; margin: 0 0 10px 14px; background: url(../images/bg-setas.png) no-repeat -20px -8px; }
.arrow-tempo { width: 12px; height: 8px; display: block; margin: 0 0 10px 14px; background: url(../images/bg-setas.png) no-repeat -20px 0; }
.arrow-cotacoes { width: 12px; height: 8px; display: block; margin: 0 0 10px 14px; background: url(../images/bg-setas.png) no-repeat -8px -24px; }
.arrow-facebook { width: 12px; height: 8px; display: block; margin: 0 0 10px 14px; background: url(../images/bg-setas.png) no-repeat -8px -8px; }
.arrow-newsletter { width: 12px; height: 8px; display: block; margin: 0 0 10px 14px; background: url(../images/bg-setas.png) no-repeat -8px -16px; }
/* FONTS SIZE */
.font10 { font-size: 10px !important; }
.font12, .font12 p { font-size: 12px !important; }
.font14 { font-size: 14px !important; }
.font16 { font-size: 16px !important; }
.font18 { font-size: 18px !important; }
.font20 { font-size: 20px !important; }
.font22 { font-size: 22px !important; }
.font24 { font-size: 24px !important; }
.font26 { font-size: 26px !important; }
/* MARGINS */
.margin-bottom10 { margin-bottom: 10px !important; }
.margin-bottom20 { margin-bottom: 20px !important; }
.margin-bottom30 { margin-bottom: 30px !important; }
.margin-top5 { margin-top: 5px !important; }
.margin-top10 { margin-top: 10px !important; }
.margin-top20 { margin-top: 20px !important; }
.margin-top30 { margin-top: 30px !important; }
/* LARGURAS */
.l10{ width:10% !important; }
.l20{ width:20% !important; }
.l30{ width:30% !important; }
.l40{ width:40% !important; }
.l50{ width:50% !important; }
.l60{ width:60% !important; }
.l70{ width:70% !important; }
.l80{ width:80% !important; }
.l90{ width:90% !important; }
.l100{ width:100% !important; }
/* OTHERS */
.padding-box-interno { padding: 0 10px; }
.pc50 { width: 50%; }
.h265 { min-height: 290px !important; }
.h405 { min-height: 405px !important; }
.zerar { margin: 0; padding: 0; border: 0; }
.clear{ clear:both; }