@import "mixins.scss";
/*
+----------------------------------------------------------------+
    PROJECT
+----------------------------------------------------------------+
*/
body{ background-color:#FFF !important; }

header#header{ margin:10px 10px 40px 10px; }
/* TITULO INTERNO*/
.titulo-interno { display: block; font-weight: bold; font-size: 20px; color:$black; margin: 0 0 12px 0; padding: 6px 10px; border-bottom: 2px solid $black;
	small { color: $black; font-size: 18px; font-weight: 600;
		&.right { color:$black; font-size: 12px; font-weight: 600; padding-top: 12px; }
	}
}

/* BOX INTERNO */
.box-interno{ width:100%; float: left; clear: both; background-color: #FFFFFF;
	/* ANUNCIO */
	.dados-anuncio { width: 100%; display: block; padding: 10px;
		div{ font-size: 12px; font-weight: normal; color:$black-80pc;
			&.left{ text-align: left; }
			&.right { text-align: right; }
			p, em { font-size: 12px; font-weight: normal; color:$black-80pc; }
			p { display:block;
				a { font-size: 12px; font-weight: normal; color:$black-80pc;
					&:hover { text-decoration: underline; }
				}
				&.price-a-vista { font-size: 16px; font-weight: 600; color:$black; }
				&.price-a-prazo { color:$vermelho; }
				&.empty{ width:100%; height:19px; float:left; clear:both; margin-bottom:15px !important; }
			}
		}
	}
	
	/* DETALHES ANUNCIO */
	.detalhes-anuncio { width: 100%; float: left; clear: both; padding: 0 10px 10px 10px; margin: 0;
		header { width: 100%; float: left; clear: both;
			h3 { float: left; font-size: 18px; font-weight: bold; color:$verde-escuro; }
		}
		ul { float: right; height: 18px; list-style: none;
			li { width: 18px; height: 18px; display: inline-block; margin: 6px 0 0 5px;
				a { width: 18px; height: 18px; display: block; background: url(../images/bg-bts-detalhes-anuncio.png) no-repeat $cinza;
					&:hover { background-color:$black-777; }
					&.imprimir { background-position: 0 0; }
					&.aumenta-texto { background-position: -18px 0; }
					&.diminui-texto { background-position: -36px 0; }
				}
			}
		}
		p { width: 100%; float: left; clear: both; font-size: 12px; line-height:normal !important; }
	}
	
	.galeria{ width:100%;
		h4{ width:100%; float:left; clear:both; padding:15px; font-weight:bold; }
		ul{ list-style:none;
			li{ width:29%; margin:0 2% 2% 2%; display:inline-block; }
		}
	}
	
	.aviso-anuncio{ font-size:12px; padding:5px; }
	
} /* FIM DO BOX INTERNO */

/* #footer */
footer#footer{ width:100%; float:left; clear:both; padding:20px 0; margin-top:50px; border-top:1px solid #000;
	p{ margin:0; padding:0; text-align:center; font-size:12px; }
}