/*
+----------------------------------------------------------------+
	CORES
+----------------------------------------------------------------+
*/
$verde-escuro:#00723B;
$verde-claro:#008C49;
$vermelho:#CB1F26;
$cinza-escuro:#555555;
$cinza:#666666;
$cinza-EEE:#EEEEEE;
$cinza-CCC:#CCCCCC;
$black:#000000;
$black-80pc:#333333;
$black-777:#777777;
$black-40pc:#999999;
$azul-facebook:#3B5998;
$yellow:#FFD300;
$marrom:#533529;
$azul-tempo:#4DA6FF;
$verde-newsletter:#A5CA2B;
/*
+----------------------------------------------------------------+
	MIXINS
+----------------------------------------------------------------+
*/
@mixin rotate($rot) {
  -ms-transform: rotate($rot); /* IE 9 */
  -webkit-transform: rotate($rot); /* Chrome, Safari, Opera */
  transform: rotate($rot);
}

@mixin skew($skew){
  -webkit-transform:skew($skew);
  -moz-transform:skew($skew);
  -o-transform:skew($skew);
  transform:skew($skew);
}
@mixin scale-skew($scale, $skew){
  -webkit-transform:scale($scale) skew($skew);
  -moz-transform:scale($scale) skew($skew);
  -o-transform:scale($scale) skew($skew);
  transform:scale($scale) skew($skew);
}
@mixin border-radius($tam){
	-moz-border-radius:$tam;
	-webkit-border-radius:$tam;
	border-radius:$tam;
}
@mixin box-shadow( $value ) {
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;
    box-shadow: $value;
}
@mixin text-shadow( $value ) {
    -webkit-text-shadow: $value;
    -moz-text-shadow: $value;
    text-shadow: $value;
}
@mixin opacity( $opacity ) {
    -moz-opacity: $opacity;
    -khtml-opacity: $opacity;
    -webkit-opacity: $opacity;
    opacity: $opacity;
}
@mixin transform( $value ){
    -webkit-transform: $value;
    -moz-transform: $value;
    transform: $value;
}
@mixin transition( $value ) {
    -webkit-transition: $value;
    -moz-transition: $value;
    transition: $value;
}